[2017-03-31 02:25] msporny opened #1 "Gather implementations for HTTP Signatures spec for IETF standardization push"
Hi all, My name is Manu and I'm the editor of the "Signing HTTP Signatures" (aka HTTP Signatures) spec at IETF. I just got back from IETF 98 in Chicago and there is interest in pushing this spec onto the Internet Standards track. We are getting ready to do the final push to make the HTTP Signatures spec an official IETF RFC. I have the go-ahead to try to put it into the IETF HTTP2 Working Group. I

[2017-04-03 04:26] arekinath commented on #1
FWIW, some of the test vectors at the bottom of draft -06 are incorrect. I had to fix them up in the copy of the write-up that's in the Javascript impl repository (and added automated checks to make sure they still work): https://github.com/joyent/node-http-signature/commit/0ebeaf26f415707ff79ad3a6c8acc3b05ee494b8

I believe this impl is updated to the -06 changes at the moment, though I should pr

[2017-04-12 17:53] msporny commented on #1
@arekinath Ok, thanks for letting me know about the issues wrt. the test vectors.

Those will definitely have to be fixed. I thought @davidlehn fixed that a while ago.

I haven't heard back from many of the other implementers yet, and until I do, the work will be dead in the water until we get enough people that have done implementations to say that they'll update their implementations to match th

[2017-04-12 18:47] jadeallenx commented on #1
As far as I know, the Perl implementation is compliant with the specification you linked.

[2017-04-14 21:33] dlongley commented on #1
99designs has this as well: https://github.com/99designs/http-signatures-php

Some potential .NET implementations:
https://metacpan.org/pod/Authen::HTTP::Signature
https://www.nuget.org/packages/HttpSignatures/1.1.4
https://github.com/karlbohlmark/http-signatures-csharp

[2017-07-17 23:54] msporny opened #2 "Reference to HTTP Signatures Security Audit invalid in text-only spec"
The reference to the HTTP Signatures Security Audit is invalid in the text-only spec. This may be because the references appear before the appendices. It may be possible to fix this by moving the references to later in the spec. This is difficult to test w/o the XSLT transforms used by IETF's autopublishing tools, so will need to set that up to test and fix this issue.

[2017-07-20 09:55] csarven opened #3 "Specification of servers announcing allowed keyId types"
Under "3.1.1. Initiating Signature Authorization":

The type of `keyId`(s) that a client may used is not specified under `WWW-Authenticate`. Is this intentionally omitted (eg to allow extension specifications to specify)?

Specifying a field like `keyIdType` in the `WWW-Authenticate` header can advertise to clients the type of `keyId` they can use in their request. If a client for example sees `ke

[2017-07-20 10:35] csarven commented on #3
The other way of looking at this is if `keyIdType` is unspecified, then servers and clients are expected to handle all `keyId` types in order to interop.

[2017-07-20 10:42] csarven opened #4 "Specification of servers announcing allowed algorithm types"
Similar issue to #3 , but specifying a field like `algorithmType`  in the `WWW-Authenticate` header with a value from the *Signature Algorithms* registry: http://www.iana.org/assignments/signature-algorithms (currently HTTP 404, see also #5 ).

[2017-07-20 10:43] csarven opened #5 "Signature Algorithms registry is not found"
The draft mentions "Signature Algorithms" registry at http://www.iana.org/assignments/signature-algorithms , however that URL (after https redirect) returns HTTP 404.

[2017-07-20 10:51] csarven opened #6 "Specify behaviour if client signs headers in addition to required"
`WWW-Authenticate` uses `headers` to indicate the headers the client must have in their request. It may be useful to briefly mention if there is a particular expected behaviour (eg an error or success/ignore) that a server should have if it encounters headers in addition to the requirements. For example, "3.1.1. Initiating Signature Authorization" uses `headers="(request-target) date"` and "3.1.2.

[2017-07-20 11:01] csarven opened #7 "Clarify examples with human-visible new lines for signing strings"
Human-readable new lines in signed strings, for example in "3.1.2. RSA Example", look like:

[code]

To clarify how the signing string should be composed, either change the examples to look like:
[code]

or mention that the human-visible new lines in the example are only there for clarity, and that the composition should only join the headers with a single "\n".

[2017-07-20 11:05] csarven opened #8 "Consider adding an example with keyId using a URL"
The RSA and HMAC examples are very similar. It'd be useful to add a bit more diversity by adding an example with `keyId="<url>"`. Alternatively, if having fewer examples is preferred, consider replacing HMAC examples with URL, and/or something else.

[2017-07-20 11:12] csarven commented on #5
Missed "E.2 Signature Algorithm Registry" which suggests the URL to be created.

[2017-07-20 11:12] #5 closed, assigned to nobody

[2017-07-20 22:37] davidlehn commented on #7
Right below that example it does say "Note that the '\n' symbols above are included to demonstrate where the new line character should be inserted. There is no new line on the final line of the signing string."  Do you have a suggestion for alternate text?

[2017-07-21 07:02] csarven commented on #7
That indeed accounts for the "\n" in the examples, however there is still the human-visible new line after each "\n". If we copy/paste the example, in a way that's two new lines. If I understand correctly, the real signing is done on the proposed example I gave.

[2017-07-21 22:40] davidlehn commented on #7
The intent was to keep the content readable and not go over width boundaries while also being explicit about how the line endings worked.  Apparently that needs work.  I'd suggest not having very long lines.

[2017-07-23 09:47] bblfish commented on #7
I did not find the convention used by the text that difficult to understand. Programmatically one could extend something like what Scala does here to set margins on strings.

[code]

Document editors (such as MS Word, but editors too, often have modes that make special
characters visible.) In this case it makes sense to show the `\n` characters because one does not want any other whitespace charac

[2017-07-23 10:08] bblfish commented on #6
My guess is that the server should have no problem if extra headers are signed - unless I suppose the server cannot access those headers. That type of problem seems to be more one that clients have - eg.  JS in the browser can not access all the headers if I remember correctly.
Usage should tell.

So an interesting question is: what is the use case for the client signing more headers than requeste

[2017-07-23 11:04] csarven commented on #7
I also find `\n` simple enough (even preferable) to *join* the lines with. I fear that ␊ increases potential complications.

What I wanted to highlight here was that the example can be slightly improved, or its description.

Just to exhaust our options, another way is to use `\` at the end of a line to indicate a line wrap, which is common in scripting. This would however may make it more confusin

[2017-07-23 12:39] bblfish commented on #7
Usually how things are done on IETF mailing lists is that people propose some improved text on the mailing list, which is then debated.

My guess is that the equivalent here would be a pull request.

[2017-07-23 13:16] msporny commented on #7
Hey @csarven @bblfish - I'm the editor for this spec, and I do accept pull requests on this repo. :)

@csarven if you submitted something to the effect that you state above, I'll just pull it into the spec.

[2017-07-23 15:45] bblfish opened #9 "Signatures in C.1 are incorrect"
In [C.1 Default Test](https://w3c-dvcg.github.io/http-signatures/#default-test) it is written that the string to sign would be

[code]

But that date is not a Thursday, but a Sunday, as you can verify both on [TimeAndDate.com calendar for that month](https://www.timeanddate.com/calendar/monthly.html?year=2014&month=1&country=9) or as I did whilst attempting to build a test for this in [commit afc8

[2017-07-23 21:50] bblfish commented on #9
Btw having a fictional date would not necessarily be a bad thing, if the text were a little more clear about that (I can propose some better phrasing), as it helps focus the implementers mind.

On the other hand the signatures should be correct. (But it might be that my code is broken -- I was having trouble loading the public and private keys, as can be seen from the code)

[2017-07-23 21:51] bblfish commented on #9
oops it's late. I did not mean to close this.

[2017-07-24 07:22] bblfish commented on #9
The commit above, in addition to the reasoning that follows

1. prove the spec has a bug
2. find the cause of it
3. show what the right answers might be.

[The first test](https://github.com/read-write-web/akka-http-signature/blob/d76686a00db462f63bcd34227a60edc3accc34d6/src/test/scala/run/cosy/auth/HttpSignatureSpecTest.scala#L199) shows that the signature matches that of a different date, namely

[2017-07-24 08:30] bblfish opened #10 "relation to Secondary Certificate Authentication in HTTP/2 spec"
Hi, there is a very interesting spec evolving in the IETF, detailing nicely the problems to TLS client certificate use from HTTP/2.0, and providing what from a distance seems like a workable solution (I don't have the knowledge to evaluate it). It is located here:

https://datatracker.ietf.org/doc/draft-bishop-httpbis-http2-additional-certs/

This is much heavier than HTTP signatures, and would of

[2017-07-25 15:34] bblfish commented on #8
I think @csarven actually came up with a good notation to help a server distinguish an id that is a URL that could potentially be dereferenced and others, namely to put the id in `<` and `>`
 brackets.

So imagine that I want to access a page at `https://accomodation.soton.ac.uk/request/` to request accommodation but that I need to authenticate first to do this. I may have created a keyid with the

[2017-07-28 11:10] bblfish opened #12 "relation to RDFAuth"
I just noticed that I had written up a post in 2008 on a sketch of a protocol that looks very much like
Http Signature :-)

https://web.archive.org/web/20090306221745/http://blogs.sun.com:80/bblfish/entry/rdfauth_sketch_of_a_buzzword

I then discovered that TLS could do this out of the box with UI support, so I left the `WWW-Authenticate` road behind.

[2017-07-28 13:19] msporny commented on #8
The spec treats the contents of keyId as opaque data on purpose and enables specs higher up the chain to describe what is and isn't allowed for keyId. We're trying to keep "smarts" out of this spec and push it up to higher level protocol specs.

So, another spec could specify that `<` and `>` have special meaning in keyId, but the Signing HTTP Message spec shouldn't do that for extensibility purpo

[2017-07-28 13:22] msporny commented on #8
Agreed, I'll try to do this in the next revision. Keep in mind that we're trying to keep the spec very short, so I may add the example and determine that it's a lot of text just to note that you can use a URL in keyId. :)

[2017-08-01 21:04] bblfish opened #13 "Difference between Authorization and Signature not clear"
I find that the use cases for `Signature: ...` are not as clear as those for the `Authorization: ...` header.

[Section 3.1.1](https://w3c-dvcg.github.io/http-signatures/#rfc.section.3.1.1) shows clearly how `Authorization: Signature ...` headers are meant to follow on a `401` with a `WWW-Authenticate: Signature...` header.

What is less clear is what the `Signature: ...` header is for. Is that fo

[2017-08-01 21:11] msporny commented on #13
Yep, you got it.

Authorization is expected when a client is authenticating itself to a server. A server is not supposed to respond with an Authorization header, IIRC. That is, the Authorization header is purely meant for client to server communication. That said, I can't remember the RFC where I read that, most likely in the HTTP specs... and HTTP/2 might have changed that requirement (although,

[2017-08-23 16:15] jyasskin opened #14 "Broken link to "Security Considerations for HTTP Signatures""
https://tools.ietf.org/html/draft-cavage-http-signatures-07#appendix-A has a [14] that doesn't go anywhere. I see the link to https://web-payments.org/specs/source/http-signatures-audit/ in your source.

[2017-08-23 16:18] jyasskin opened #15 "Broken references in Feedback section"
https://tools.ietf.org/html/draft-cavage-http-signatures-07 has a feedback section saying:

However, there is no [1], and [2] and [3] link to:

[2017-08-23 16:25] jyasskin opened #16 "Security considerations should talk about public key distribution"
https://web-payments.org/specs/source/http-signatures-audit/#https says that

However, that requires [`keyId`](https://tools.ietf.org/id/draft-cavage-http-signatures-07.html#rfc.section.2.1.1) to identify a key that's trusted through some other route than the Web PKI, which means it needs to have been received in a trusted way. I see that specifying key distribution is out of scope for draft-cavag

[2017-08-23 16:28] jyasskin opened #17 "Wrong section referenced for auth-param"
https://tools.ietf.org/id/draft-cavage-http-signatures-07.html#sig-header says

However, auth-param is defined in https://tools.ietf.org/html/rfc7235#section-2.1.

[2017-08-23 16:32] jyasskin opened #18 "Mention the risks of (request-target) omitting :authority"
The security considerations section should call out that `(request-target)` doesn't include the full URL, since 1589b3fb68d030ca72a4dbbf134335ac324586ca removed `:authority`, and say at least that this means that the key used to sign the request must not be trusted for more than one authority, to avoid attackers being able to get clients to trust a message signed as the wrong authority.

[2017-08-23 16:35] jyasskin opened #19 "Describe how to use this to get origin authentication"
https://web-payments.org/specs/source/http-signatures-audit/#intro says

However, I don't see a description of how a client should use a signature to infer that an [origin](https://tools.ietf.org/html/rfc6454) signed the HTTP message. Even if that's not intended to be part of draft-cavage-http-signatures, there should at least be a non-normative reference to some document sketching how to do it, o

[2017-08-23 16:40] jyasskin opened #20 "Omit rsa-sha1 from the Signature Algorithm Registry"
https://tools.ietf.org/id/draft-cavage-http-signatures-07.html#sa-registry includes a deprecated algorithm using SHA1 in a totally new registry. Just omit it.

[2017-08-24 13:34] msporny commented on #14
Thanks, will fix.

[2017-08-24 13:36] msporny commented on #15
These should be fixed to:

[1] https://w3c-dvcg.github.io/
[2] https://w3c-ccg.github.io/

and a working link for [3]. Will fix in next edit cycle.

[2017-08-24 13:38] msporny commented on #16
Agreed. I will add a section explaining that key distribution is out of scope and it is a difficult problem where a solution design and implementation should not be undertaken lightly.

We are working on specs that do new forms of key distribution in specs like https://w3c-ccg.github.io/did-spec/ ... but again, super experimental work and we expect many organizations to implement (or build on top

[2017-08-24 13:39] msporny commented on #17
Thank  you, will fix in next edit cycle.

[2017-08-24 13:40] msporny commented on #18
Please raise this issue in this repo: https://github.com/w3c-dvcg/http-signatures-audit

[2017-08-24 13:47] msporny commented on #19
I'm not certain this issue belongs in https://github.com/w3c-dvcg/http-signatures-audit , but if you think it does, please move the issue there.

As a short response to your question, we should explain this somewhere but I'm torn on where to do the explanation. We could mention it in the http-signatures spec and mention that it's out of scope and perhaps point to a blog post explaining how we've s

[2017-08-24 13:48] msporny commented on #20
Agreed, will fix. Many parts of this spec are 5+ years old at this point.

[2017-08-24 14:12] msporny opened #21 "Test Vectors are wrong"
@kislyuk wrote:

[2017-08-24 14:12] msporny commented on #21
Thanks for the bug report. This will be updated in the next edit cycle.

[2017-08-24 16:55] jyasskin commented on #18
Done: https://github.com/w3c-dvcg/http-signatures-audit/issues/1

[2017-08-24 16:55] #18 closed, assigned to nobody

[2017-08-24 17:10] jyasskin commented on #19
I'd be happy with the "point to a blog post from http-signatures" approach. I'm not certain that's what the IETF will want in an RFC, but it'll at least help reviewers understand what http-signatures lets people do.

[2017-08-24 20:30] msporny commented on #18
Thank you!

[2017-08-24 20:33] kislyuk commented on #1
https://github.com/kislyuk/requests-http-signature is compliant with https://tools.ietf.org/html/draft-cavage-http-signatures-07. Looking forward to getting the RFC finalized!

[2017-08-28 23:52] jyasskin commented on #15
I've reduced a very similar bug in xml2rfc: https://trac.tools.ietf.org/tools/xml2rfc/trac/ticket/335. Hopefully they'll fix it.

[2017-08-29 12:36] msporny commented on #15
Great, thanks @jyasskin - even if they don't fix it, I'll find a workaround during the next edit cycle.

[2017-09-07 05:08] bblfish opened #22 "Use case: server signing other content"
I just found a discussion on HTTP WG discussing something requiring signatures and found
a link to this spec.

https://tools.ietf.org/id/draft-yasskin-http-origin-signed-responses-00.html

[2017-09-18 00:06] cwebber commented on #21
The above PR should fix things.  @lambadalambda (who also bumped into this) and I cross-checked our implementations and we both got the same results here.

[2017-09-18 00:14] #21 closed, assigned to nobody

[2017-09-18 00:25] msporny commented on #21
New draft published: https://www.ietf.org/id/draft-cavage-http-signatures-08.txt

[2017-10-18 17:36] wrygiel commented on #9
The following quotes were moved here from an email message (`Message-ID: <93749dce-491c-11ea-2038-b46e36985710@digitalbazaar.com>`).

On Wed, Oct 18, 2017 at 5:40 PM, Manu Sporny wrote:

Thanks! I wasn't aware this repository exists.

Sure, I think I'll find some time for that.

Not yet, but I'm thoroughly testing the existing ones.

(What I'm writing is an "online validator" tool for [EWP Network

[2017-10-24 12:51] wrygiel commented on #3
Perhaps [`realm`](https://github.com/w3c-dvcg/http-signatures/blob/3f0eb23d459772dbfce7a688e26d7e092627de90/index.xml#L433) can be used for that?

[2017-10-24 13:03] wrygiel opened #25 "Accept-Signature request header"
Related to https://github.com/w3c-dvcg/http-signatures/issues/13.

**The client knows when the server wants the client's signature**, and what algorithms the server supports, because the server communicates this in its `WWW-Authenticate` header. Perhaps it would be a good idea to propose a similar standard way of communicating this in the opposite direction? So that **the server knows when the cli

[2017-10-24 13:57] msporny commented on #3
@wrygiel realm is often used for a sub part of the domain to authenticate with, it's not meant to specify key type.

@csarven your suggestion to include something like an expected key type may be useful, but keep in mind that the client is supposed to keep track of that now (because the registration process is out of band). That said, perhaps we should have a "hints" field that can include "keyTyp

[2017-10-24 14:00] msporny commented on #25
We're trying to keep the spec simple and doing what you want above would add even more to the spec. I'm not saying it's not useful, it sounds useful, but you're the only one that has raised this use case so far (in the over 5 years that the spec has been in development). There are many shortcomings to the spec, but we're trying to keep it very limited by design. That said, i'll try to play around

[2017-11-16 13:57] #9 closed, assigned to nobody

[2017-12-02 20:23] msporny opened #26 "Specify URL encoding for request-target"
From Roman Bezlepkin:

For example @ symbol could be encoded as %40 whereas request-target could be either /foo/bar@example.org/posts or /foo/bar%40example.org/posts while both resulting in a successful request
I believe implementers should be careful when inspecting the server-side request URL in this case to validate the signature.
In one case, the HttpContext.Request property in ASP.NET automat

[2017-12-02 20:29] msporny commented on #26
I'll suggest that request-target MUST be the URL decoded form. The only thing I'm unsure of is if that may lead to corner case errors. An implementation could always use the regular form of request-target to check the signature, and if that doesn't work, try URL decoding request-target and attempting the signature check again. URL decoding may result in a security vulnerability... will have to thi

[2018-03-12 12:53] msporny opened #27 "Provide mechanism to encode HTTP response status"
From Ari Hännikäinen:

I was reading "draft-cavage-http-signatures-09" and found that interesting. I noticed one thing that is missing as far as I can tell, and therefore wanted to send you this email.

According to the section 1.2 the signature mechanism could be used to verify the integrity of the HTTP responses as well. HTTP response status code is one of the key elements there, but I couldn't

[2018-03-12 12:56] msporny commented on #27
Hi Ari, and thank you for the analysis and the suggestion. At present, I don't see why we wouldn't include such a feature. I'll put it in the next version of the spec after asking the specification implementers to see if they see any issues with the feature.

[2018-04-04 01:23] ahknight commented on #1
ahknight/httpsig is now up to date with draft 9, including the new test cases.

[2018-04-12 20:12] ghazel commented on #1
Does anyone support the trailer variant yet? https://web-payments.org/specs/source/http-signature-trailers/ (and/or an http/2 header frame, which was spec'd after that draft, I believe).

Trailers seem particularly crucial for proxies, cdns, streaming, etc. Not sure why the draft expired.

[2018-04-13 14:15] msporny commented on #1
None that I know of...

I think BBC's implementation is purely HTTP/2? /cc @LPardue

[2018-04-13 20:12] LPardue commented on #1
We have used only signature in Google QUIC and aim to migrate to IETF-QUIC. In our usage we control sender (server) and receiver (client).

Google QUIC uses HTTP/2 framing. IETF QUIC uses its own HTTP framing that is very similar.

For our purposes, there is no difference if the Signature appears in leading headers or trailing headers. There were issues where our multicast HTTP/QUIC draft incorrec

[2018-05-15 20:57] cjslep opened #28 "Dead link to Signature Algorithms registry"
The link is to:

http://www.iana.org/assignments/signature-algorithms

But all I get is a "This page does not exist." webpage from IANA.

[2018-05-15 21:26] msporny commented on #28
Yes, this is a known issue, although the whole registry needs to be deprecated due to security concerns. Fixed in https://github.com/w3c-dvcg/http-signatures/commit/e62a249fd776e5897095942d7454489d36419929.

Thanks for the comment!

[2018-05-15 21:26] #28 closed, assigned to nobody

[2018-05-16 17:10] cjslep opened #29 "Revision 10's Extra 'algorithm' Note"
Revision 10 begins deprecating the 'algorithm' parameter. It added:

I interpreted this as being at verification time. This means that the only way for verification to continue if `algorithm` is provided is for it to match the `keyId` metadata.

This makes the following addition in revision 10 kind of moot:

Since they will be the same (having thrown no error), this prioritization shouldn't matter

[2018-05-16 17:16] msporny commented on #29
Yes, that is the proper interpretation.

You are correct in that the text is more or less moot/useless. We're attempting to deprecate the feature while ensuring backwards compatibility for existing implementations in the field until such a time as the field implementations are updated. We state the same sort of things in multiple places in the specification such that implementers don't miss our de

[2018-05-16 18:53] cjslep commented on #29
I see, thanks for clarifying! I don't have better language here.

However, I now have an additional question in the case of this deprecation: are the existing implementations that depend on only the `algorithm` parameter (not using metadata about `keyId`) now noncompliant with the spec? That is, there appears to be a missing period of time where `algorithm` was still required to be present but imp

[2018-05-16 19:25] msporny commented on #29
None of the existing implementations will break based on this update. All of the existing implementations should still be semi-compliant with the spec in that none of them were checking metadata associated w/ keyId.

We expect that if existing implementations are not upgraded, that they will eventually break once we remove the requirement for the `algorithm` parameter. That is, clients won't send

[2018-05-16 21:08] nightpool commented on #29
almost every s2s implementation on this page: https://activitypub.rocks/implementation-report/ uses HTTP Signatures for authenticating the content sent between servers. The largest of these is Mastodon, with 2000 servers and over a million users.

(as far as i understand it, this change technically breaks mastodon's implementation since we *require* the algorithm parameter, and throw an error if i

[2018-05-16 21:15] nightpool commented on #29
The projects that i *know* currently implement HTTP Signatures off the top of my head are Mastodon, Pleroma, Kroeg, Hubzilla, Peertube, Bridgy Fed, and Friendica. I don't know how many of those use existing libraries vs implementing it wholesale, like Mastodon does.

[2018-05-16 22:03] msporny commented on #29
Note to self (@msporny) to track down implementations and see what libs are being used.

Thanks @nightpool!

[2018-05-17 01:53] nightpool commented on #29
as of https://github.com/tootsuite/mastodon/pull/7525 mastodon no longer requires the algorithm field. (although we still assume the signature is rsa-sha256)

[2018-05-17 02:07] nightpool commented on #29
well, I'm here and I have a passing familiarity with most of these codebases, so I might as well take a look:

 - mastodon (ruby) has our own implementation: https://github.com/tootsuite/mastodon/blob/master/app/controllers/concerns/signature_verification.rb https://github.com/tootsuite/mastodon/blob/master/app/lib/request.rb#L71
 - pleroma (elixer) has their own implementation: https://git.plerom

[2018-05-19 20:19] cjslep commented on #29
@msporny FYI my implementation is available as a stand alone golang lib at: https://github.com/go-fed/httpsig

[2018-05-20 14:00] msporny commented on #29
@cjslep wrote:

Noted here: https://github.com/w3c-dvcg/http-signatures/issues/1#issue-218380254

Thank you! I'm in the process of noting all of the other implementations as well.

[2018-05-23 23:43] kaniini commented on #1
as far as I can tell, Pleroma is complaint with revision 10.  I will update the URL to the latest draft...

[2018-07-07 03:54] ejholmes opened #30 "Clarification on ECDSA signatures"
We're big fans of HTTP Signatures at @remind101, and have recently contributed support for the `rsa-sha1`, `rsa-sha256` and `ecdsa-sha256` algorithms in the Go version from 99designs: https://github.com/99designs/httpsignatures-go/pull/12

The problem that we're seeing is that:

1. A lot of http signature libraries are missing RSA/ECDSA support.
2. The ones that do implement ECDSA, seem to be impl

[2018-07-08 15:28] msporny opened #31 "Add examples for ECDSA Signatures"
This enhancement to the specification was requested by @remind101.

The problems that we're seeing are:

* A lot of http signature libraries are missing RSA/ECDSA support.
* The ones that do implement ECDSA, seem to be implementing an inconsistent signature format that doesn't follow the spec. In our experience, our Go implementation is the only one that seems to be using the correctly specified a

[2018-07-08 15:30] msporny commented on #31
Yes, agreed that conformance is an issue.

The real fix to this is that we need a test suite and test reports across implementations. We don't want to junk up the spec with tons of example tests (ECDSA is not the only one we'd want to cover). We have not made much progress on that over the past several years, but may be able to in the next six months or so since we've hired a few people to do just

[2018-07-08 15:33] #31 closed, assigned to nobody

[2018-07-08 15:33] msporny commented on #30
Yes, agreed that conformance is an issue.

The real fix to this is that we need a test suite and test reports across implementations. We don't want to junk up the spec with tons of example tests (ECDSA is not the only one we'd want to cover). We have not made much progress on that over the past several years, but may be able to in the next six months or so since we've hired a few people to do just

[2018-07-11 13:44] ptoomey3 commented on #26
I'd tend to vote the URL not be decoded. It seems like the intent of spec is to perform a signature of the content of the request (as it exists on the wire). Introducing a layer of decoding introduces variability between the entity that generates the signature and the entity that verifies the signature.

[2018-08-18 12:02] liamdennehy opened #32 "Clarify behaviour on missing headers in HTTP request/response"
[Section 2.3](https://tools.ietf.org/html/draft-cavage-http-signatures-10#section-2.3) instructs how to compose the Signature String, but is silent on how to behave when a header is absent (or otherwise does not match a header in the `headers` parameter)

* MUST the header be excluded from the Signature String entirely?
* MUST the header be included in the Signature String with an empty string as

[2018-08-27 15:59] liamdennehy opened #33 "Date header is not mandatory in HTTP/1.1 RFCs yet relied on by "headers" field"
[IETF RFC 7231](https://tools.ietf.org/html/rfc7231#section-7.1.1.2) ("HTTP") indicates ``Date`` as an optional field in a Request, yet this standard assumes it is always present e.g. it is the default header if no ``headers`` field is provided.

Inclusion of a ``Date`` header should be explicitly stated as a dependency of this protocol for Requests (and Responses, which is already mandatory) rath

[2018-08-27 18:00] msporny commented on #33
Yes, good point. I'll add language to that effect in the next rev of the spec.

[2018-08-27 18:24] liamdennehy commented on #33
Thanks! I've seen three different implementations and one standard that mandates usage of this draft, and they all keep claiming Date is "a standard header", not realising that's only for Responses. Most clients don't add a Date header by default, so this leads to way too much confusion.

[2018-08-27 18:40] liamdennehy commented on #13
* ``Authorization`` is used for a client to prove identity and authorisation to perform an action. A [bearer token](https://tools.ietf.org/html/rfc6750), APIKey, username/password or other secret is usually used to prove this. In this specification, we assert identity by demonstrating control of the private key (rsa/ec) or shared secret (hmac) used to generate the signature.
* ``Signature`` is use

[2018-08-27 18:51] liamdennehy commented on #33
Would a PR be welcome? More than happy to take a shot at some good concise language worthy of a spec like this (even if it means I need to use American spelling).

[2018-08-27 19:02] davidlehn commented on #33
PRs are always welcome! ;-)

[2018-08-29 16:23] ioggstream opened #34 "Consider using http2 structured headers for Signature"
## I would consider

Using [structured headers](https://github.com/httpwg/http-extensions/blob/master/draft-ietf-httpbis-header-structure.md) for Signature

[2018-08-29 16:26] ioggstream opened #35 "Signature header does not contain date, expires"
## I expect

The Signature header to contain the following fields:

  - date
  - expires

Those fields should be part of the Signature and of the signed message.

## Notes

The associated `iss` and `exp` are typical  JWS claims.

[2018-08-29 16:35] ioggstream opened #36 "Signed Headers should either mention representation metadata or forbid them"
## I expect

Representation metadata (Content-Type, Content-Encoding, Content-Language)  should be either:

  - included in Signed headers
  - forbidden

Because: see notes

## Instead

There's no clear indication about the relation between Digest and Representation modifier.

## Notes

https://tools.ietf.org/html/rfc7231#section-3.1 indicates the following representations metadata
- Content-Type

[2018-08-29 18:35] msporny commented on #34
Thanks @ioggstream -- that's a good idea. I haven't read through the entire spec yet, so don't know what that entails, but it looks like a good direction. I'll chat with @mnot about it if I see him at W3C TPAC or an upcoming IETF meeting.

I'll try to integrate structured headers into the next edit cycle I do on the spec.

[2018-08-29 18:42] msporny commented on #35
There is an open issue about specifying "Date" and it being in the default fields that are signed. Some didn't want to use Date, but used a server-provided nonce instead.

What would you expect to happen if "Expires" is included? The server marks the signature as invalid? If so, we expect different applications to have different tolerances for expiration and for the server to determine (if the sig

[2018-08-29 19:04] dlongley commented on #35
Another way to look at the current behavior is that `expires` has the same value as `date` (i.e. it expires immediately) and it therefore does not need to be sent. Sending `expires`, in this light, would only be to extend the validity period further... which is an uncommon use case.

[2018-08-30 07:53] ioggstream commented on #34
The  [Signed HTTP Exchanges spec](https://github.com/WICG/webpackage/blob/master/draft-yasskin-http-origin-signed-responses.md#the-signature-header--signature-header) uses a `Signature` structured header too.

[2018-08-30 07:56] ioggstream commented on #36
@mnot does it sound reasonable to you?

[2018-08-30 08:38] ioggstream commented on #35
@msporny iiuc date issue is this one #33

Let `iat:= issue time` , `exp: expiration time`, `now()` the receiver timestamp

1- imho `iat` and `exp` are properties of the Signature, not of the exchange
2- `Date` is a property of the exchange
3- You should not process the `Signature` if `now() ∉ [iat, exp]`
4- You should not process the `Signature` if  `Date > now()`

@dlongley if `expires ≡ date` yo

[2018-08-30 08:54] mnot commented on #36
All of these headers can affect how a recipient interprets the message. `Content-Type` is the most obvious, of course. So I'd include them.

[2018-08-30 13:37] msporny commented on #34
Looks like we're going to have to talk w/ @jyasskin sooner than later about that spec stomping on the more generalized Signature header used in this spec. Thanks for the heads up @ioggstream!

[2018-08-30 13:47] msporny commented on #36
@ioggstream @mnot, yes, I agree that doing so would provide a smaller security attack surface. That said, we already have lots of deployed implementations in production (we have no idea exactly how many): https://github.com/w3c-dvcg/http-signatures/issues/1

Would it be acceptable if we stated that it is recommended that those items are signed as well, but for a base level conforming implementatio

[2018-08-30 13:50] dlongley commented on #36
Most implementations verify after decoding content... so signing `Content-Encoding` may be tricky/the wrong thing to do.

[2018-08-30 13:52] msporny commented on #36
Ugh, right... In general, the spec tries not to be super prescriptive about which headers are signed because, in general, when we try to make a particular header mandatory, someone seems to appear with a legitimate reason why it doesn't work for their use case (e.g., proxies, wrong part of the processing pipeline, middle-boxes making it impossible to relay the message, etc.)

[2018-08-30 13:55] LPardue commented on #34
I raised this point during an HTTP session at IETF 101 in London. I can't
remember the answer but the minutes are online somewhere

On Thu, 30 Aug 2018, 14:37 Manu Sporny, <notifications@github.com> wrote:

[2018-08-30 15:34] ioggstream commented on #36
@msporny

That's clear. The point is:

  1.  Content-{Type,Encoding,Language,Location} representation metadata
they act on the representation (aka the content)
 2.  should I trust a signed request from somebody in the middle that tampered the representation?

As banking apis relies on this spec, I'd make it as simpler as possible, but not simpler;

This *SHOULD* would open the door to broken imple

[2018-08-30 15:34] ioggstream commented on #36
@dlongley afaik as `Digest` is a property of the selected representation:

  - MUST be calculated on the Content-Encoded payload
  - MUST be validated *before decoding*.

I understand this position, but afaik "Content-Encoding" is part of the semantics: without content-encoding I cannot know whether I downloaded a "gzipped file" or a gzip-encoded html page object.

And when signatures are involved

[2018-08-31 10:22] LPardue commented on #36
We have used Signature with Instance digests and ended up asking ourselves some similar questions, I posted these to the HTTP mailing list: https://lists.w3.org/Archives/Public/ietf-http-wg/2018AprJun/0192.html

One of the salient points of that discussion was from Julien Reschke:

terminology right (it tries to clarify RFC 2616 but IMHO added even more
confusion).
If you are serious about this, y

[2018-08-31 11:48] ioggstream commented on #36
@LPardue I had a brief discussion  on updating RFC 3230 to  reference "Selected Representation" here

  - https://github.com/martinthomson/http-mice/issues/11#issuecomment-409415793

How did it end with your `Digest` header?

PS: check your 19jul emails  ;)

[2018-09-17 13:13] dancju commented on #1
https://github.com/mbarbero/http-messages-signing

[2018-09-17 13:14] msporny commented on #1
@nerdDan wrote:

Awesome, thank you, added to the top of this issue.

[2018-09-18 10:00] dancju commented on #1
:smile:
https://github.com/tomitribe/http-signatures-java
https://github.com/joyent/java-http-signature

[2018-09-18 13:02] msporny commented on #1
@nerdDan ... added those last two... wow, lots of implementations in Javaland. :)

[2018-09-27 11:59] liamdennehy commented on #35
If I'm only interested in making a signed statement about a particular response rather than create a claim for a specific timeframe, I'd rather not be forced to include an ``expires`` field that has a particular value (e.g. ``0``). I'm much more interested in knowing that a statement was made at an instant, and may not wish to make a specific validity claim (e.g. your balance right now is $100)
If

[2018-09-29 07:45] ioggstream commented on #35
@liamdennehy OK for optional `expires`. This will improve the situation and avoid  implementors to decide for the timeframe of my signature (see ibanity above).

For responses, we can just set expires with a given timeframe. It should never be set to 0 as this leaves the interpretation to the receiver.

We should think about a way of versioning this signature so we can go on without breaking thing

[2018-10-12 10:13] liamdennehy opened #38 "Unusual space inserted in signature string for Basic Reference Test"
While implementing [Reference Tests in http-signatures-php](https://github.com/liamdennehy/http-signatures-php/blob/9a81f0501eb56b0fa463b4511ba4b63125cf6dd9/tests/ReferenceTest.php) I noticed I could not generate the [provided Authorization Header](https://github.com/w3c-dvcg/http-signatures/blob/e62a249fd776e5897095942d7454489d36419929/index.xml#L812) in the Basic Test under Reference Tests, as i

[2018-10-12 14:28] msporny commented on #38
Hey @liamdennehy -- thanks for submitting the issue.

I'm not quite sure which space you're referring to. The space in the `headers` parameter, or the one between `date", signature`, or the line break?

In general, space between delimiters outside of double quotes is something that the HTTP spec covers. Delimiters inside of double quotes are typically covered by the spec, which usually defers to b

[2018-10-12 14:45] liamdennehy commented on #38
Hey @msporny. Indeed, the `date", signature` space (I take the line breaks as simple wraps without spaces). In all other examples it's `",signature=` without a space, so this looks like a typo.
The Reference Tests I'm implementing should both generate and validate the test data:
- This is a bit random since all other reference lines have no spaces, so this should be removed for consistency unelss

[2018-10-17 04:17] ductm54 opened #39 "Server should not trust client header"
Server should have define it's own require fields for header. If there is not enough it should reject the request
For example if client to lazy and only use Date fields attacker can using relay method to create request changing url, body, http method ... using the capture signature

[2018-10-17 08:21] liamdennehy commented on #39
The specification already describes a minimum recommendation for headers `(request-target) date`, and only uses `date` alone if nothing is specified. It describes the risks of not capturing enough, and illustrates basically all headers being signed for maximum assurance. I don't think this specification should get into detailed analysis of specific headers and what the risk profile is of specific

[2018-10-17 08:49] ductm54 commented on #39
https://github.com/w3c-dvcg/http-signatures/blob/gh-pages/index.xml#L200
In this line i think it should be add something similar to to `algorithm` parameter. This or something similar, sorry my English is no so good:

And if minimum recommendation is  `(request-target) date` why don't set it as default when nothing specified. In my opinion using `date` alone is vulnerable to relay attack

[2018-10-17 13:37] msporny commented on #39
Hi @ductm54, thanks for logging the issue. I'm going to try to give a bit of background on the spec so it hopefully becomes more clear wrt. what we're trying to accomplish w/ the spec.

Fundamentally, this specification is meant to be a foundational specification that other specifications might build on top of. So, there are things like "negotiation of headers that should be signed" that are typic

[2018-10-17 13:38] msporny commented on #39
... because (request-target) is sometimes rewritten by proxies and middle-boxes, which would break the signature. The only header we could find that was consistently not mangled by proxies that provided some modicum of replay attack prevention was Date. :(

That said, most implementations in the field included a more robust set of headers to prevent replays... e.g., combining (request-target), Con

[2018-10-17 15:40] liamdennehy commented on #39
To put it more simply (apologies @msporny if I'm talking over you):
This specification provides a mechanism for applications to add security, but does not tell applications what they should do to achieve their security goals if they decide to use this. That's up to them.
@ductm54 you do make good points, but they are for people to figure out when they use this specification, not for this specifica

[2018-10-17 16:17] msporny commented on #39
Yes, exactly right. Thank you @liamdennehy!

[2018-10-18 17:43] lukasz-szewc opened #40 "Link to signature-algorithms - page does not exist"
Hi,

Inside point `2.1.4.  algorithm` you can find this link : http://www.iana.org/assignments/signature-algorithms with valid values for this parameter. The problem is that this link is showing that page does not exist.

Can anyone provide list of these valid values?

[2018-10-18 18:05] lukasz-szewc opened #41 "Questions related to `headers` interpretation"
Questions to following paragraph:

[code]

1. What if header is not lowercased? Is server obligated to reject such request? (the same question for more spaces as separator than one)
2. If there is obligation for all headers to be lowercased (when specified), why there is not similar obligation in case of not specified 'headers'. Why `Date` starts with capital letter?
3. How to treat `headers` when

[2018-10-18 18:21] lukasz-szewc opened #42 "Signing String construction - validation logic"
[code]

1. In point 2.1.3 of document there is information to use just `Date` if `headers` are not specified. Let say that this is exactly the case and now during signature string construction there is recommendation to use `request target` as well. Is this recommendation or obligation? (how to understand `SHOULD` in this context - especially when we take into consideration point 2.1.3)
2. Client

[2018-10-18 18:49] liamdennehy commented on #41
1. The lowercase header name in the "headers" field is a convention. Constructing the signing string will lowercase the header names, so signers *should* provide lowercase names, but it is not required and will not affect the outcome.
2. `Date` here is the literal name of the header as appears in a HTTP/1.1 Request or Response, so is shown in proper as would normally be used in HTTP/1.1 messages.

[2018-10-18 19:05] liamdennehy commented on #42
1. It is common convention in RFCs and other technical document to use keywords such as SHOULD, MUST and MUST NOT as defined in [RFC2119](https://tools.ietf.org/html/rfc2119), and it is referenced in the draft specification in section **5.1 Normative References**. Might be an idea to make this more prominent. To answer you question specifically, the statement here is to be interpreted as advice: Y

[2018-10-18 19:31] lukasz-szewc commented on #32
Personally I like the most restrictive approach: Option nr 3 (MUST the condition be considered an error and signing abandoned?)

[2018-10-18 19:47] liamdennehy commented on #32
I agree, as 1 or 2 alter the intention of the signer (who may have no control over the content of the message e.g. at the gateway). I will submit a PR to propose clarified language mandating option 3.

[2018-10-18 21:19] liamdennehy commented on #35
I'd like to strengthen my previous comment:
This specification is essentially a free-form mechanism for signing any, all or nothing in a HTTP Message. The comparison was made with JWT which I don't feel is well-founded.
- JWTs are made of three components: A header, indicating how the JWT is to be processed, a payload, and a signature. It is for the explicit purpose of encoding access tokens.
- Th

[2018-10-19 11:56] ioggstream commented on #35
Hi Liam, thanks for your reply!

partly agree.

iiuc you want a way to state that a signature never expires, right?

I don't understand this part. Can you please share an use case?

- as I see expiration as a signature property (eg. it shouldn't exceed the certificate expiration) this
  seems to me as a workaround ;)
- adding an header means register it to the IANA (consider that the `Signature` h

[2018-10-23 11:10] liamdennehy commented on #35
Put simply:
In jws/jwt, attributes of the claim (iat, exp) are payload. Header is purely how to validate the signature (authenticity) of those payload claims.
This protocol might handle signatures with a limited lifetime (ie tokens/claims), instantaneous or indefinitely valid signatures but none of that is relevant to the cryptographic integrity of the signature. My point is the payload (headers,

[2018-10-23 12:51] ioggstream commented on #35
@liamdennehy

I understand the point. The question is how much that leaves space to
bad implementations.

Yes, I stated it in the ticket ;)

[code]

An interesting implementation is in  [signed-exchanges](https://github.com/WICG/webpackage/blob/master/draft-yasskin-httpbis-origin-signed-exchanges-impl.md)

[2018-10-31 06:44] ductm54 commented on #1
https://github.com/gin-contrib/httpsign

[2018-10-31 13:56] msporny commented on #1
@ductm54 wrote:

Added to the list of implementations, thank you @ductm54!

[2018-11-02 08:17] lukasz-szewc commented on #40
Does anyone know whether or not there is a new valid URL to this page or alternatively what was the content of that page?

[2018-11-02 12:49] msporny commented on #40
That registry won't be created until after the document is a valid RFC... if ever... the registry values will probably be updated to be date-anchored values like "RsaHttpSignature2018" The current valid values are listed here:

https://w3c-dvcg.github.io/http-signatures/#sa-registry

[2018-11-07 09:01] EmielBruijntjes commented on #1
We wrote a PHP implementation too:

https://github.com/CopernicaMarketingSoftware/http-signatures-php

[2018-11-07 14:37] msporny commented on #1
@EmielBruijntjes wrote:

Thanks, added you to the list above!

[2018-11-11 18:36] liamdennehy opened #43 "Better Reference Tests"
In reviewing a few implementations I've come across some pitfalls/misinterpretations. I'd like to propose a new reference case that provides more coverage of the spec:

* Upper and lower case in uri elements (ie signing string construction requires only method and headers are lowercased, not uri or header values) - presently the reference uri is all lowercase.
* Digest header with multiple values

[2018-11-12 15:18] ioggstream commented on #43
For now my 2¢ on point 3 and 4.

On Signature header: is the `Signature` syntax similar to  https://httpwg.org/http-extensions/draft-ietf-httpbis-header-structure.html ? In that case I'd adopt that one.

On `body`: can you pls make an example of a `date in body element`?

Thx++,
R

[2018-11-15 16:58] liamdennehy commented on #27
In hindsight I don't see how this protocol would be complete without at least the option to include a full representation of a message's context, of which this is central.

This would be a natural mirror to the (request-target) pseudo-header, and probably itself another pseudo-header e.g. (response-status) to match language in [RFC7230](https://tools.ietf.org/html/rfc7230#section-3.1.2).

I'll tak

[2018-11-15 20:32] liamdennehy opened #46 "Exernal reference urls return 302, only on http"
Reference links have moved from ``http://xml.resource.org``... to ``https://xml2rfc.tools.ietf.org``...
Proposed resolution in PR #45

[2018-11-15 21:53] liamdennehy commented on #46
Resolved https://github.com/w3c-dvcg/http-signatures/commit/18a4cbdb350ac2f02826e5567995fefe52c095fb

[2018-11-15 21:53] #46 closed, assigned to nobody

[2018-11-15 22:20] liamdennehy commented on #29
This proposal assumes there is metadata the verifier has associated with a keyId.

One of the benefits of using PKI is that certificates are issued to identities that don't require knowledge of each other. There is at least one scheme (required in legislation in the EU) that requires attributes encoded in the certificate itself and the specific issuer to be the entire basis of trust and identifica

[2018-11-15 23:29] liamdennehy commented on #41
@lukasz-szewc Please see the referenced Pull Request (#47) and see if it addresses your original questions properly.

[2018-11-15 23:36] liamdennehy commented on #42
@lukasz-szewc Please review PR #47 to see if your questions are properly addressed.

[2018-11-16 00:01] liamdennehy commented on #25
I'm leaning more and more towards this being a good idea. Given the apparent threat in having the algorithm being uncontrolled, and different headers the receiver can process (including implementations that for some obscure reason explicitly define the order), this would be a good mechanism to communicate those minimums - especially in the case of errors & rejections. This allows clients to implem

[2018-11-16 01:04] liamdennehy commented on #25
I now see https://github.com/w3c-dvcg/http-signatures/blob/18a4cbdb350ac2f02826e5567995fefe52c095fb/index.xml#L445 has a mechanism to handle this already, though it is focused on the Authorization header (maybe).

[2018-11-16 13:27] wrygiel commented on #25
Just to clear up: The spec already specifies a way for **the server** to communicate its signature requirements (via the `WWW-Authenticate` header). What I was proposing in this thread is the opposite - I wanted **the client** to communicate its requirements (so that *the server* can sign its *response*).

[2018-11-16 13:32] wrygiel commented on #25
BTW, we have ended up specifying a simple `Accept-Signature` header for our internal purposes (you can see its specs [here](https://github.com/erasmus-without-paper/ewp-specs-sec-srvauth-httpsig/tree/v1.0.1#include-accept-signature-header)).

[2018-11-17 02:50] msporny commented on #25
I'm a -1 on this feature in this spec, again, not because it is not useful (it is), but it should go in a separate spec.

This seems useful

What is the use case for this? Why do I care if you sign something in addition to the things I asked for?

Again, what's the use case? Is the added complexity of a DSL worth it?

This would require the server to start storing state between requests, which add

[2018-11-21 16:12] liamdennehy commented on #20
Do we still want to take this out, and optionally extend with SHA2-384 and SHA2-512?
I can put together a PR in short order...

[2018-11-21 16:59] liamdennehy commented on #10
@bblfish It's been a long while since this issue was opened/updated, but no matter...

Please review https://github.com/w3c-dvcg/http-signatures/pull/48 that hopefully can give some clarity:

As far as I can tell, httpbis aims to add extra authentication information into the transport (extending Mutual TLS) so that e.g. a gateway can authenticate at one layer, then present a user's certificate/cre

[2018-11-21 17:58] liamdennehy commented on #13
@bblfish Can you take a look at the content of https://github.com/w3c-dvcg/http-signatures/pull/48 and see if it clarifies this?

[2018-11-21 18:06] liamdennehy commented on #6
I can see a case where a client or server wants to add information in a header - e.g. a tracking id - that is meaningless to the recipient, but useful if the message is ever contested or reviewed later. I don't think we should mandate the behaviour.

Perhaps some text clarifying that this may happen, especially since we don't have a standard mechanism for a recipient to communicate signature prefe

[2018-11-21 18:49] liamdennehy commented on #17
PR with fix, sorry for the delay :stuck_out_tongue:

[2018-11-21 19:00] liamdennehy commented on #22
Yep, looks like this spec essentially realises the placeholder in that proposal's [Section 4.4](https://tools.ietf.org/id/draft-yasskin-http-origin-signed-responses-00.html#rfc.section.4.4). It's an interesting case, essentially a source could send a signed message to the CDN, and the CDN serves (partial) content using the author's Signature header. Obviously the Date would not be time served, but

[2018-11-21 19:02] liamdennehy commented on #25
This is simply emitted when a request is rejected, not across requests

[2018-11-21 19:03] liamdennehy commented on #25
Agreed, just laying out the full set of requirements if this were to be fully realised: If anything, making the case for not including it now.

[2018-11-21 19:05] liamdennehy commented on #25
I may have reserved that header for internal use - e.g. my gateway encodes info for the back-end system using that header. Very common in enterprise environments.

[2018-11-21 19:06] liamdennehy commented on #25
If we would like to add this basic feature, then [align with the Digest header spec](https://tools.ietf.org/html/rfc3230#section-4.3.1), which specifies a `Wants-Digest` header with permitted algorithms.

[2018-11-21 19:07] liamdennehy commented on #25
Allow a signer to determine dynamically which parameters to use, rather than requiring manual configuration. Nice-to-have, but still useful IMHO.

[2018-11-21 20:29] liamdennehy commented on #26
Simple case: A urlencoded newline would cause a new line in the signature string, so a crafted url could spoof a header in that string on the following line. No idea how this could be exploited, but then I'm not imaginative enough to think of the vast majority of exploits. Not desirable.

[2018-11-21 20:36] liamdennehy opened #50 "Concatenation of multiple-instance headers in signing string"
This isn't sitting well with me:
https://github.com/w3c-dvcg/http-signatures/blob/18a4cbdb350ac2f02826e5567995fefe52c095fb/index.xml#L263
Why would we concatenate header values under a single line in the signature string, rather than having multiple lines for each instance?

I feel like there's an exploit in there somewhere. Essentially a single header with a some data, a comma and space, then mor

[2018-11-21 20:56] liamdennehy commented on #25
Server (and client) are always free to back off the transaction if the terms are not acceptable, so only a problem if the signer blindly follows orders.

One serious downside is that a server can reject a message by stating its' required parameters, but a client doesn't have the same capability. If a response is inadequately signed, especially for a non-idempotent action - what then?

[2018-11-21 22:29] ioggstream commented on #25
FYI `Accept-Signature` work is ongoing on https://github.com/WICG/webpackage/blob/master/draft-yasskin-httpbis-origin-signed-exchanges-impl.md#the-accept-signature-header--accept-signature

Syntax is based on structured headers.

[2018-11-25 17:28] liamdennehy commented on #41
@lukasz-szewc PR #47 is merged, would you like to mark this issue resolved?

[2018-11-25 17:29] liamdennehy commented on #32
Resolved in PR #47

[2018-11-25 17:29] #32 closed, assigned to nobody

[2018-11-25 17:29] liamdennehy commented on #42
@lukasz-szewc PR #47 is merged, would you like to mark this issue resolved?

[2018-11-25 18:04] liamdennehy commented on #27
Now #47 is merged I can start on a proposal for this enhancement.

[2018-11-25 19:22] #41 closed, assigned to nobody

[2018-11-25 19:22] lukasz-szewc commented on #41
@liamdennehy closed

[2018-11-25 19:23] lukasz-szewc commented on #42
@liamdennehy closed

[2018-11-25 19:23] #42 closed, assigned to nobody

[2018-12-05 09:44] ioggstream commented on #34
Any further work on this? structured-headers work is going on nicely and there are some parsers around too.

[2019-01-03 15:24] ioggstream commented on #14
@msporny iiuc that's fixed now. Can we close?

[2019-01-03 17:27] msporny commented on #14
Confirmed, fixed. Thanks for the ping @ioggstream! :)

[2019-01-03 17:27] #14 closed, assigned to nobody

[2019-01-28 19:32] bortzmeyer opened #52 "Presentation issues for the test vectors"
In -10, unlike appendix C.1, there is no Signature: header, in appendix C.2.

Also, the indentation in C.3 seems wrong.

[2019-02-22 21:41] dlongley commented on #35
Note: An advantage to sending "Expires" in the request is that it is not prohibited in browsers (whereas "Date" is).

[2019-04-11 17:43] ioggstream commented on #35
@dlongley just read your comment. Are you referring to https://fetch.spec.whatwg.org/#forbidden-header-name ?

Another point for supporting  `date`,`expires` in Signature ;)

[2019-04-15 08:03] ioggstream opened #53 "Support a versioning scheme"
## I expect

HTTP Signatures supports a versioning scheme, so I can evolve the spec and be backward compatible during upgrades.

About protocol evolution, see https://tools.ietf.org/id/draft-thomson-postel-was-wrong-03.html

## Instead

There's no version field

## Proposal

1- Add a mandatory `v` field to `Signature`, eg:

[code]

2- The Signature is always added as a meta-header as the first ele

[2019-04-15 15:37] ioggstream commented on #36
@msporny probably the first step is to add all those considerations to the [Security] section.

[2019-04-24 13:54] #35 closed, assigned to nobody

[2019-04-26 14:30] RayTrommelenInfoSupport opened #54 "Creating and Signing the Signature String"
There are a few things with this list I'd like to make a pull request for. Before I'll make some changes, I was wondering what others thought about it.

First, to me it's not clear that the signature string should be hashed. I'd suggest adding an extra point, and stating the Signature String should be hashed.

Secondly, it states that the contents of the HTTP message should be used to create the S

[2019-04-27 09:50] ioggstream commented on #54
Yes, there are some quirks. Probably using google docs to discuss those editorial points could be of some benefit. I can share a copy if you agree.

[2019-04-29 06:57] RayTrommelenInfoSupport commented on #54
@ioggstream
Yes, I'd be interested in that.

[2019-04-29 13:46] ioggstream commented on #54
Here it is @msporny  @RayTrommelenInfoSupport https://docs.google.com/document/d/1EHOcsZmKodlgodMZo4zdhEBLBjZRyeFB1BeOsQEzrDw/edit?usp=sharing

[2019-04-29 13:48] liamdennehy commented on #54
This is already implicit in the signature scheme. Without getting into the details, implementations will generally invoke a library to sign content, which includes the hash function since one rarely wants to sign a message directly (and cannot if the message is too long vs the key length). While the canonicalisation is novel (how to generate the string) the actual signature is not and we should re

[2019-04-29 15:38] dlongley commented on #54
@liamdennehy,

+1 ... I think the reason hashes started leaking into the canonicalization algorithm is because we deprecated `algorithm` in favor of using the key ID to determine which algorithm to use -- *and* -- some people have RSA keys that can be used to sign with different hash algorithms. However, I think that's a bad security practice and we should assume that you MUST be able to determine

[2019-05-01 13:17] dancju commented on #30
Can I use a bitcoin key pair for this ECDSA signature, which uses a fixed `(p, a, b, G)`?

[2019-05-02 01:25] msporny commented on #30
Yes, supporting the Secp256k1 curve is a design goal. We just need someone to contribute the implementation.

@ejholmes -- also, we're currently developing a test suite to reduce the conformance problems you are noting. Development on the conformance test suite started last week... we expect the first pass to be done in a couple of weeks. We'll announce the test suite in issue #1 and request that

[2019-05-09 22:13] aljones15 commented on #40
the link actually should be:
https://w3c-ccg.github.io/http-signatures/#hsa-registry

[2019-05-09 22:23] aljones15 opened #57 "links to encryption algorithims documents in hsa registry go nowhere."
the links for the signing/ hashing algorithm types are anchor tags:
https://w3c-dvcg.github.io/http-signatures/#RFC6234
https://w3c-dvcg.github.io/http-signatures/#RFC8017
however these is no anchor for them in the document currently.
They go nowhere.

I am seeing this though:

[code]
I am not familiar with rfc, but is that supposed to embed the links to those encryption documents into the documen

[2019-05-14 00:46] aljones15 opened #58 "header and signature parameters are confusing."
Signature/ Authorization headers contain parameters named header and signature.

however header can contain the values (created) and (expires) which refer to other Signature parameters i.e. created and expires. This means headers really does **not** do what it's name implies.
I think includes might be a better name for headers.

signature is sensical, but easily confusable with the Signature heade

[2019-05-14 00:49] aljones15 opened #59 "2.1.2 signature in version 11 spec still tells people to use the algorithm parameter to sign."
The spec specifies that the algorithm and possible hash function for sign should be in the metadata received when we dereference keyId:

algorithm is intended as check, but to not actually contain the name of algorithm used to sign. Hence this line:

should be

or am I wrong and algorithm is used to determine the hash function?
if that is the case then shouldn't the algorithm be used first then th

[2019-05-14 08:56] RayTrommelenInfoSupport commented on #54
You have some good points and I can stand behind the recommendation from @dlongley send me trough E-mail.

Also, The Signature String is not a result of hashing the string containing the headers with their values.

I'm still not sure what we should do about the text

The HTTP Message, or 'payload' how it is in the Google Docs, is not mentioned anywhere else in the specification.

Is the Message/Bo

[2019-05-14 09:00] RayTrommelenInfoSupport commented on #59
The encryption algorithm and hashing algorithm should be derived from the keyid, so as far as I'm aware this is a bug.

Should we even have the algorithm header present? I'd say we should delete the parameter altogether as to not confuse developers.

[2019-05-14 09:05] RayTrommelenInfoSupport commented on #57
The github spec does not have references to the RFC's, but the spec at IETF does.

https://tools.ietf.org/id/draft-cavage-http-signatures-11.html#RFC6234

[2019-05-14 13:20] aljones15 commented on #57
ok tested this and links do work here so closing this thanks @RayTrommelenInfoSupport

[2019-05-14 13:20] #57 closed, assigned to aljones15

[2019-05-14 13:22] aljones15 commented on #59
The spec implies that algorithm sticks around as a check on the meta-data, and if this line is changed I think the spec will get across that point fairly.

[2019-05-20 08:28] ioggstream commented on #33
@msporny can we close this one?

[2019-05-20 12:22] liamdennehy commented on #33
I'm happy with the new approach

[2019-05-20 12:22] #33 closed, assigned to nobody

[2019-05-20 12:59] liamdennehy commented on #13
@bblfish MR #48 specifically addresses this issue and has now been merged into the new draft v11, can you confirm the content matches your expectations?

[2019-05-20 13:09] bblfish commented on #13
ok, it looks like the signature part, given as it has to sign the hash of the whole message, is likely to be very fragile, since any change to the message however small would invalidate the signature.

[2019-05-20 15:43] liamdennehy commented on #13
By design, and is the basis for Digital Signature security.

However, this issue is about the unclear distinction between Authrization: Signature header and the Signature: header, which I hope has been clearly spelled out in the merge.

[2019-05-21 17:03] ioggstream commented on #54
@RayTrommelenInfoSupport I think we could create a PR with your suggestion and change the
introduction too just referencing HTTP headers.

[code]

[2019-05-22 10:35] liamdennehy commented on #54
The HTTP Message is not equivalent to the payload, but rather the entire message transmitted as either a request or response. See [RFC7230 2.1](https://tools.ietf.org/html/rfc7230#section-2.1):
[code]

The payload is only the body, as per [RFC7230 3.3](https://tools.ietf.org/html/rfc7230#section-3.3):
[code]

In that respect, the message is used to find the content to be signed according to the sp

[2019-05-22 10:49] liamdennehy commented on #54
This is impossible. RSA and EC keys do not contain a hash or hash specification, and while a certificate does have a hashed signature it is only what the issuing CA decided to use to sign the certificate - it is not relevant to any signature produced by the associated private key. For example, a certificate signed with ``sha256WithRSAEncryption`` can still be used to produce a RSA signature with a

[2019-05-22 11:26] RayTrommelenInfoSupport commented on #54
According to the Internet-Draft, the signature string is the headers and their values in the way it's defined in the Creating the Signature String paragraph.

So, wouldn't we need to remove the 'algorithm' as well from this?

[2019-05-22 16:02] liamdennehy commented on #54
Just as soon as you have a reliable way to determine the hash algorithm from the key metadata, which I present in https://github.com/w3c-dvcg/http-signatures/issues/54#issuecomment-494752250 is not reliably possible.

[2019-05-22 16:29] ioggstream opened #63 "Don't trust ambiguous parameters"
## I expect

ambiguous parameters should invalidate the signature

eg. this should not be allowed
[code]

## Instead

they don't invalidate the signature, and the last one is used

https://github.com/w3c-dvcg/http-signatures/blob/8c0bffa3bc0ac71350f9426a0c50aa9b98317bb5/index.xml#L317

eg:
[code]

[2019-05-22 18:10] dlongley commented on #54
@liamdennehy,

While keys are independent from the hashing method (if any, depending on the signature scheme), that does not mean that a particular instance of a key should not be bound to using a particular hash algorithm. It's also not impossible to do this *in general*, though I submit that you may not be able to ascertain this information when the key identifier can only be resolved to an X.50

[2019-05-22 20:10] aljones15 commented on #63
The existing HTTP spec allows for duplicate headers:

https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2

If the HTML spec allows it it might cause issues as another piece of middleware might collate duplicate headers into a list etc. Duplicate header names is a feature of HTML Messages, throwing on duplicate headers could cause issues with other programs that use the headers. I guess w

[2019-05-24 13:14] ioggstream commented on #63
## Case 1: Ambiguous parameters refers to multiple HTTP headers

@aljones15 the HTTP spec is now [rfc7230#field-order](https://tools.ietf.org/html/rfc7230#section-3.2.2)

   name in a message unless either the entire field value for that
   header field is defined as a comma-separated list

Let's say a sender sends

[code]
iiuc a `recipient` which acts as an  [intermediary](https://tools.ietf.org/

[2019-05-24 13:15] ioggstream commented on #63
@aljones15 in any case, we should clarify that

[2019-05-24 13:33] ioggstream commented on #50
Maybe related to #63 .

This is probably inspired by https://tools.ietf.org/html/rfc7230#section-3.2.2
but:

- this is only allowed for headers supporting list values;
- this gives too much space to mangling.

About duplicate headers,
HTTP spec [rfc7230#field-order](https://tools.ietf.org/html/rfc7230#section-3.2.2)

   name in a message unless either the entire field value for that
   header fiel

[2019-05-24 13:36] ioggstream commented on #52
Is there a PR for this? Thx++, R:

[2019-05-24 13:37] ioggstream commented on #36
We're addressing this in https://datatracker.ietf.org/doc/draft-polli-resource-digests-http/

[2019-05-24 13:57] ioggstream commented on #36
@dlongley in https://ioggstream.github.io/draft-polli-resource-digests-http/draft-polli-resource-digests-http.html#rfc.section.3 we introduce two `identity digest algoritms`:

- eg: `id-sha-256=fafafafa=` contains the sha256 of the representation with no content coding applied.

Still you should explicitly include Content-Encoding in the signature to protect the recipient from malicious intermedia

[2019-05-24 17:46] aljones15 commented on #63
@ioggstream for what it is worth I believe ambiguous parameters here does refer to parameters as in Case 2 (I guess I was wrong) as the spec deals with duplicate http headers:

may bad should have spent a little more time before replying. I actually kind of agree with this issue regarding Case 2 as we have plenty of control over the contents of the parameters to the Signature or Authorization head

[2019-05-26 09:51] ioggstream commented on #63
@aljones15

no problem, at least this brought an useful discussion. I agree that the text is not straightforward and it's worth to clarify that.

Can we say we shouldn't trust ambiguous `Signature headers` parameters?

[2019-05-27 07:00] earroyoron opened #64 "Status of this RFC related to European PSD2 (Berlin group) ?"
Hi,
The European Payments Directive (PSD2) mandates via their RTS (Regulatory Technical Standards) some security mechanism to identify parties, using a certificate with some extensions, called eIDAS. The Berlin Group has defined a technical approach for all this regulation that is a REST API and includes this RFC as a technical solution to comply with these standards etc.
I am wondering about the

[2019-05-27 07:55] ioggstream commented on #64
Hi Ernesto,

with some agencies we are working to contributo to draft-cavage as a signature mechanism for psd2 and for use in cross-border exchanges.

Here's a gdoc for http-signatures:

- https://docs.google.com/document/d/1EHOcsZmKodlgodMZo4zdhEBLBjZRyeFB1BeOsQEzrDw/

Meanwhile we are rewriting the http Digest header specs to clarify its usage in signatures (below):

- https://github.com/ioggstr

[2019-05-27 11:10] ioggstream commented on #17
@liamdennehy this is fixed, can we close?

[2019-05-27 11:11] ioggstream commented on #15
@msporny is this fixed?

[2019-05-27 11:15] ioggstream commented on #22
Hi @bblfish, can you explicit better this use-case or - if that's already covered - close the issue?

Thx++ :)

[2019-05-27 11:17] ioggstream commented on #63
@liamdennehy if you agree in removing ambiguous cases, I'll provide a PR.

[2019-05-27 12:59] ioggstream commented on #39
@liamdennehy I think we should add some considerations on "how much of an http message do I have to sign" in the "Security Considerations". For the rest, the   `created` and `expires` header fix this? In case I'd close.

[2019-05-28 07:29] earroyoron commented on #64
Eurobits (the company where I work at) is one of the most active parties in PSD2 in Europe, and we may be interested to help and collaborate in this RFC, as I don't find a "contribution guide" here, may you please tell me if this is possible and how?
E.g. a "reference implementation" for example is an idea, but  any other task etc

[2019-05-28 11:17] ioggstream commented on #64
@earroyoron the maintainer of the spec is Manu @msporny, which works on many different specs.

I'm working for the Italian Digital Transformation Team. My goal is to check if this spec can be consolidated in a way that is suitable for adoption by agencies in Italy and Europe.

To contribute, I just joined the discussion on github, while using the gdoc as a helper. In case, feel free to email me.

[2019-05-29 09:00] liamdennehy commented on #64
@earroyoron This specification predated Berlin Group's proposals, and accounts for use cases well beyond PKI. As such, I've been contributing here to see that the specification continues to support Berlin Group (where it is *optional*) and PSD2 in general, but explicitly avoid tailoring it too narrowly for that purpose. It is disappointing Berlin Group have not collaborated directly, but it is the

[2019-05-29 09:17] ioggstream commented on #64
I think signing certificates and TLS certificates should be different though. Isn't it?

[2019-05-29 11:10] earroyoron commented on #64
Yes you are right @ioggstream , the MTLS certificate should be trusted by network endpoint, and this header-signing is more about "business" (your application) with a complete different requirements.
 🤔 actually that could be the answer.

[2019-05-30 08:36] liamdennehy commented on #63
The word "erroneously" is troublesome, as it implies the verifier should be able to tell what was intentional and what was erroneous - hence the "if". I'd simply state that any parameter duplicated in the Signature line invalidates the entire signature.

[2019-05-30 08:41] liamdennehy commented on #63
As for multiple occurrences of a header in a message and how we incorporate that in a signature;

While HTTP does permit duplicates, concatenating the value in the signature string can lead to ambiguity of interpretation - two headers with different values is semantically different to a header with two values. Since we cannot reliably interpret the intent of the sender and form a canonical signatu

[2019-05-30 08:49] liamdennehy commented on #39
We've since agreed that ``Date`` is not actually reliable, hence the ``created`` pseudo-header, so perhaps move ``created`` to the default if no ``headers`` is specified?

Agree we can close this.

[2019-05-30 09:09] liamdennehy commented on #64
@earroyoron @ioggstream

The directive and the RTS require only that TPPs _identify_ themselves to ASPSPs. Mutual TLS proves the connection is initiated by the holder of a certificate's private key, while a digital signature in the message (either using this specification or another such as JWS) both proves the identity of the message/payload creator *and* proof of authenticity (it has not been al

[2019-05-30 11:38] ioggstream commented on #63
@liamdennehy will #65 work for you?

Agree, feel free to propose changes to #65

I'd continue discussing it on #50: I'll copy previous considerations there.

[2019-06-01 21:54] ioggstream opened #66 "created and expires should be signed if present"
## When
created and expires are specified

`Signature: created=..., expires=..., `

## I expect

they should be present in `headers="(created) (expires)"`

## instead

They are not mandatory

## Note

I propose that when present, they shouldn't be listed in `headers`.
Instead, they should be added at the top of to the signature string

@liamdennehy: what do you think?

[2019-06-01 22:39] ioggstream opened #67 "Forbid empty `headers` parameter as it's subject to replay attacks."
## I expect

`headers` should either be:

- present and populated, eg `Signature: headers="foo bar", ...`
- or absent

You should nevers sign an empty string.

## Instead

The following is allowed

but since it results in a signature of an empty string it is of almost no
utility and SHOULD NOT be used. This is distinct from not specifying
a `headers` parameter at all.

## Note

Allowing an empty h

[2019-06-02 00:06] ioggstream commented on #54
iiuc, JWS links hash and algorithms https://tools.ietf.org/html/rfc7518#section-3.1

We could adopt that table or create our one. In both case it would be difficult to remove `algorithm`.

Another thread will be whether to add the `algorithm` (as key + hash) to the signature string.

[2019-06-03 07:18] liamdennehy commented on #67
I disagree. A HTTP Message can have a header with no value provided. It is semantically meaningful to provide a parameter without a value, which is distinct from not providing the parameter at all. A value of null or zero is not the same as not providing a value. This is why I cleaned up up the language in #47.

If implementations permit empty headers, that's their choice, but I don't think we sho

[2019-06-03 07:40] hrobache opened #68 "Missing pseudo headers in draft version #11 examples"
I have a doubt about § C.3. (All headers test)

The signing string is specified as this:

(request-target): post /foo?param=value&pet=dog
host: example.com
date: Sun, 05 Jan 2014 21:31:40 GMT
content-type: application/json
digest: SHA-256=X48E9qOokqqrvdts8nOJRJN3OWDUoyWxBf7kbu9DBPE=
content-length: 18

Aren't  pseudo-headers (created) and (expires) missing? If yes, I guess the signature value shou

[2019-06-03 08:20] ioggstream commented on #67
Ok, but how is that related with a blank `headers parameter`?

eg.
[code]

imho permitting an empty `headers parameter` means
that a compliant implementation must support that. We are
actually forcing to support a weak part of the spec.

In that case,  we should warn about reply attacks
in the Security Considerations.

So the questions:

- is that worth?
- which are the legitimate use cases for se

[2019-06-03 08:51] liamdennehy commented on #66
Indeed - anything that has meaning for the signature, whether the content being signed or metadata describing the signature, should be signed too. Essentially if a parameter being modified affects the meaning, it should be included.

We should establish a canonical order for metadata fields, and state they should be included first. They should not be implied though - they still need to be explicit

[2019-06-03 09:01] liamdennehy commented on #54
We can clearly state the implications of being open on hash algorithm choice, and recommend implementations be strict about the algorithms they accept. Note that we aren't prescriptive of the `Digest` header which faces the same issue, even though we explicitly illustrate how to incorporate it here.

We've already deprecated SHA1, but going further and listing algorithms in this specification is p

[2019-06-03 12:56] liamdennehy commented on #67
My mistake, I read this as forbidding HTTP message headers with empty values, not an empty `headers` parameter in the Signature header.

The PR that introduced that language only cleaned up an ambiguity in the wording, it was not the intention to suggest this is a good idea. As you quote in the current version, it states this is of almost no utility.

I'm happy to forbid an empty `headers`, but th

[2019-06-03 13:01] liamdennehy commented on #64
@earroyoron As this issue does not have any action required to resolve, do you want to ask further questions or can this issue be closed?

[2019-06-03 15:10] ioggstream commented on #67
I think we should refactor the terminology, I have been confused for months :D

+1

Very true :) I'll open another issue for that.

[2019-06-03 15:27] ioggstream commented on #67
@liamdennehy https://github.com/w3c-dvcg/http-signatures/pull/70

[2019-06-03 15:33] ioggstream opened #71 "PROPOSAL: move index.xml to index.md"
## I propose

To move the index.xml to an index.md

## This is

Could help readability and ease contributions.

[2019-06-03 17:24] davidlehn commented on #71
The IETF uses XML source files for RFCs.  See RFC2629 (and newer).  There has been work on a markdown syntax and related tools, but I don't know the status of those.

To do any change, someone would have to research the latest RFC markdown flavor style and tools, see if it's possible to convert from XML, check if the tools work and produce correct results, and determine if the markdown editing flo

[2019-06-03 18:32] dlongley commented on #67
I'm +1 to forbidding signing an empty string which is almost certainly a mistake. As long as that's what we're talking about disallowing here, I'm in favor.

[2019-06-05 04:29] earroyoron commented on #64
I think you can close as the questions we may have are not related to the RFC but to the PSD2 or RTS and this is not the forum...
So yes, close this
And thanks a lot

[2019-06-05 04:29] #64 closed, assigned to nobody

[2019-06-05 10:14] ioggstream opened #73 "Add sample code for generate examples."
## I expect

Code samples for generate, verify and validate example signatures.

## Instead

There are none.

[2019-06-07 17:34] ioggstream commented on #67
#70 is addressing this issue.

[2019-06-12 15:27] ioggstream opened #75 "Digest acts on the representation-data, not the message body"
## I expect

`Digest` is calculated on the `representation-data` of the selected representation

## Instead

the spec ties Digest to the message body

## Notes

See:

-  https://github.com/httpwg/http-extensions/blob/master/draft-ietf-httpbis-digest-headers.md#this-proposal
- https://tools.ietf.org/html/rfc3230#section-3 definition of `instance`

[2019-06-19 16:38] dlongley opened #77 "Signing string should include keyId and algorithm (if present) via pseudo headers"
In order to prevent attackers from changing the `keyId` and `algorithm` parameters in the signature string, these should be included via pseudo headers in the signing string.

[2019-06-19 18:07] dlongley commented on #77
Perhaps `keyId` should use the pseudo header `(key-id)` to match other kebab case things -- and algorithm would be `(algorithm)`.

[2019-06-21 08:27] ioggstream commented on #77
I think we could associate to every algorithm a `Signature-String` construction.

In this way we achieve some algorithm agility and define new Signature-Strings

[2019-06-21 15:32] ioggstream commented on #67
Closed in #70

[2019-06-21 15:32] #67 closed, assigned to nobody

[2019-06-21 15:36] ioggstream commented on #40
@msporny signature-algorithms is mentioned here too https://tools.ietf.org/html/draft-pardue-quic-http-mcast-04#section-3.9

[2019-07-15 10:28] dastanza opened #78 "HMAC example is illustrated with headers, not *without*"
In section 3.1.3 and 4.1.2 HMAC examples, I believe the sentence `"For an HMAC-based signature without a list of headers specified"` should be `"For an HMAC-based signature with a list of headers specified"` because headers are actually included and `"The only difference between the RSA Example and the HMAC Example is the signature algorithm that is used"`.

[2019-07-15 10:29] dastanza commented on #78
See [draft version 10](https://www.ietf.org/archive/id/draft-cavage-http-signatures-10.txt) and a lot of other versions.

[2019-07-19 08:53] liamdennehy commented on #26
Hi folks. I'm hitting this issue in Production, can we get a consensus view?

As I stated earlier, I believe this protocol should be used to protect the content on-the-wire, before any decoding on receipt and after encoding for transmission.

Specifically, [RFC7540](https://tools.ietf.org/html/rfc7540#section-8.1.2.3) mentions nothing on interpretation of any characters, so to add any here will ma

[2019-07-19 10:30] ioggstream commented on #26
I'd go without {de,en}coding, which may introduce unexpected side-effects.

In https://github.com/WICG/webpackage/blob/master/draft-yasskin-httpbis-origin-signed-exchanges-impl.md#cross-origin-trust-cross-origin-trust they refer to requestURI as a bytesequence which iiuc doesn't mention decoding.

[2019-07-19 10:36] ioggstream opened #79 "Dis-entangle this spec from Digest"
## I expect

This spec to be disentangled from the `Digest` one.

This will:

- simplify the spec, as that could focus on headers only;
- remove complex examples from the spec;
- allow using different headers depending on the user requirements (eg. Digest has a very well defined
  semantic that you may not want to use)

## We can

- remove `Digest` from examples;
- remove from the scope of this sp

[2019-07-19 12:42] msporny commented on #26
Agreed.

@liamdennehy, I think we have consensus here. Don't encode/decode :path, use it as-is.

I say this not having done a security review on that, but it seems the simplest/most straightforward thing to do. The drawback here is if the client encodes and signs the request URL in a strange way, or the server receives the request URL through a proxy that mangled the URL... but if that happens, th

[2019-07-19 13:10] liamdennehy commented on #26
Well that ended up quick and easy. Thanks!

@ioggstream I know you're on a roll with MRs, mind if I write this one up?

[2019-07-19 13:13] MartinSchorel commented on #26
I have run into this issue due to the equal sign (=)

This sign, when part of the value in a query element needs to be escaped in our opinion.
`http://example.org/foo?qry=AABBCC=`needs to be put on the wire as `http://example.org/foo?qry=AABBCC%3d`

Hence my idea that, if the path and query are encoded;
- it should be hashed encoded at the client-side
- will it arrive encoded at the server
- where

[2019-07-19 13:20] liamdennehy commented on #26
@MartinSchorel We just resolved here to use as-is - that is the raw characters in the HTTP message as transmitted/received.

The key point here is that the HTTP standard(s) don't acknowledge escaping at all, so why should we?

The only reason the ``qry=`` is _not_ escaped and ``CC=`` _is_ comes down to the first being a parameter delimiter and the second a parameter value. In fact there no semanti

[2019-07-19 13:34] ioggstream commented on #26
@liamdennehy @MartinShorel

from https://tools.ietf.org/html/rfc7230#section-5.7.2

This behavior is retained in httpbis-semantics

https://tools.ietf.org/html/draft-ietf-httpbis-semantics-04#section-5.5.2

[2019-07-19 13:41] ioggstream commented on #26
@liamdennehy

do you mean PRs ? If you write a PR I'll comment that!

[2019-08-05 10:48] ioggstream opened #80 "Consider removing the `headers` field to the `Signed-Headers` header field."
## Suggestion

To take into account of the following Security-Consideration https://tools.ietf.org/html/draft-ietf-httpbis-semantics-04#section-12.5 about header field length

We could move the `headers` content to a `Signed-Headers` header field.

[2019-08-05 13:02] aljones15 commented on #80
I actually think taken the growing number of pseudo headers (such as (expired) and (created)) the headers parameter could be renamed to something like Signature-Parameters to better express the variability of where the components for the signature can come from. Regardless this type of attack should be noted in the spec and a factor in the signature creation algorithm.

[2019-08-07 12:18] msporny commented on #1
There is now a test suite for the latest version of the spec:

https://github.com/w3c-dvcg/http-signatures-test-suite

Please test your implementations against that. We'll be compiling a list of conforming implementations over the next couple of months.

[2019-08-08 15:00] aljones15 opened #81 "Proposal to Drop Normative Statements the depend on HTTP Message Parser behavior."
This issue came up while working in the HTTP signatures test suite:

The issue here is that when some HTTP Message parsers receive an HTTP Message with duplicate headers they simply use the last value instead of turning the duplicate values into a list. This makes the normative statement difficult for an implementer as they would have to use an HTTP Message parser that behaves by turning duplicate

[2019-08-09 09:07] ioggstream commented on #81
Make a PR and I'll review it :)

[2019-08-09 13:41] liamdennehy opened #82 "Forbid "(request-target)" in response signature"
Right now there is no way for a response to transport all the parameters required to reconstruct the ``(request-target)`` signing string component.

As the messages are exchanged obviously both the client and server know the values, as one transmitted and the other reacted to those in the other half of the conversation, but any signature should be verifiable given only the evidence of the content

[2019-08-09 13:50] ioggstream commented on #82
A complex matter indeed :)

Can you please provide some more context on that?

afaik:

 -  it is common for a server providing an Authoritative Response `A-R`, to access the request context.
- this may not happen if the Authoritative `A-R`  is not provided by the application server.
- In this case the `A-R` should provide the validation of the signature and the signature response.

[2019-08-09 14:03] liamdennehy commented on #82
When I validate any digital signature I should have all the information to hand that goes into that signature to construct the signed data consistently. Compare S/MIME, Signed PDFs, JWS etc.

However the ``:method``, ``:path`` and ``:query`` parms are not transmitted in a response, so we need an independent source. For now the assumption is simply the state known to the server (responding to a req

[2019-08-09 14:38] ioggstream commented on #82
See https://github.com/WICG/webpackage/blob/master/draft-yasskin-httpbis-origin-signed-exchanges-impl.md#signature-validity--signature-validity

We are asymptotically tending to signed-exchanges :P

[2019-08-10 09:21] liamdennehy commented on #3
I think these approaches start to turn this into a very complex protocol, when it could easily be presented in supplemental documentation. I don't think it's a burden to expect a signer to read up on how to format a request, or state what format they will produce in responses.

[2019-08-10 09:27] liamdennehy commented on #6
What is the use case for refusing to validate a signature that signs more than the verifier is expecting?

I think this spec should limit itself to describing HOW to formulate a verifiable signature, and HOW to validate a presented signature. Apart from obvious security issues like signing the empty string or static info like ``User-Agent``, the WHY should be left to implementers.

[2019-08-10 09:32] liamdennehy commented on #13
@bblfish, do the changes address your concerns? If so, can we close this issue?

[2019-08-10 09:33] liamdennehy commented on #17
I don't have access to manage issues.

@jyasskin, @msporny ?

[2019-08-10 09:37] liamdennehy commented on #20
@jyasskin This has now been deprecated as you requested, can this issue be closed?
https://tools.ietf.org/html/draft-cavage-http-signatures-11#appendix-E.2

[2019-08-11 11:20] msporny commented on #17
@liamdennehy wrote:

Sent you an invite, @liamdennehy -- you will want to accept it.

https://github.com/orgs/w3c-dvcg/teams/http-signatures-developers

[2019-08-15 18:34] aljones15 opened #85 "Implementation should throw if it would overwrite an Existing Authorization or Signature Header."
In the signature step:

Case 1:
  Adding a header if no existing Authorization or Signature Header exists.

Case 2:
  Adding a Signature header when there is an existing Authorization header that is not the same as the existing Authorization header.

In all other cases you need to throw an error.

[2019-08-16 07:10] ioggstream commented on #85
I suggest to define the authorization header in another draft. This one is
already too complex.

Il gio 15 ago 2019, 20:34 Andrew Jones <notifications@github.com> ha
scritto:

[2019-08-16 10:51] liamdennehy commented on #85
In all cases, simply add the requested header.

We're adding authentication or authenticity assurances to a message, it shouldn't matter if it already has one from me or someone else.

- as a client, I'm forwarding someone else's message and want to sign it for a different purpose e.g. As a proxy or gateway.
- I may want multiple parties to sign a message before sending it
- I may want to sign a m

[2019-08-16 11:01] liamdennehy commented on #85
@ioggstream, this spec actually started life with only the authentication scheme:

https://tools.ietf.org/id/draft-cavage-http-signatures-01.html

If anything, ``Signature:`` is the intruder 😋

[2019-08-16 14:26] msporny commented on #85
@ioggstream @liamdennehy -- we need to be really careful here, I don't think there has been enough red teaming on these cases. We had a discussion in the office yesterday where we found 3 ways where it's safe to add the header and many other cases where it is not.

This really needs to be thought through, this discussion has raised a number of questions regarding the security characteristics of pe

[2019-08-16 14:27] msporny commented on #85
The mechanism is nearly identical, and IETF (in general) frowns upon having two RFCs that basically say the same thing and only differ in the HTTP header they apply to. :)

[2019-08-16 17:06] aljones15 commented on #58
I'm closing this as it's extremely trivial.

[2019-08-16 17:06] #58 closed, assigned to aljones15

[2019-08-18 09:03] ioggstream commented on #85
I understand. I see though that with signature and authentication we have two big challenges that may be complex to address in the same document.

We could say that composition is NOT RECOMMENDED :)

I agree, especially about avoiding managing some corner cases.

[2019-08-18 16:35] msporny commented on #85
The challenges would be *more* complex to address in different documents.

We could, but people would do it anyway. :)

Besides, technologies that fail to compose well typically point to design flaws in the technology.

We need to clearly state when it is safe to do so (and there are a few good reasons you'd want to), and when it's not safe to do.

[2019-08-22 10:11] liamdennehy commented on #13
PR #48 specifically addresses this issue.

[2019-08-22 10:11] #13 closed, assigned to nobody

[2019-08-22 10:13] liamdennehy commented on #20
v11 deprecates all legacy 'algorithm' values and replaces with a single SHA512 equivalent.

[2019-08-22 10:13] #20 closed, assigned to nobody

[2019-08-22 10:17] liamdennehy commented on #71
@ioggstream, as nice as it would be to submit in markdown, for now the workflows are all designed around the XML representation and it's unlikely we can change this any time soon.

[2019-08-22 10:17] #71 closed, assigned to nobody

[2019-08-22 12:24] ioggstream commented on #63
Can we get some consensus on #63?

[2019-08-22 13:01] aljones15 commented on #81
Closing this issue as both issues appear to be problems in implementation and not actual the HTTP Message parser. As usual: really sorry about this. I have been working on the tests for a few months and I guess it never occurred to me the errors could be in the binary/library I'm testing on and not a cheapo http message parser I got from npm. Hopefully I'll be more careful in the future.

LOL and

[2019-08-22 13:01] #81 closed, assigned to aljones15

[2019-08-22 13:55] liamdennehy commented on #15
This was fixed in 90ba1341

[2019-08-22 13:55] #15 closed, assigned to nobody

[2019-08-22 13:56] liamdennehy commented on #12
@bblfish Do we still want to address this?

[2019-08-22 13:57] liamdennehy commented on #10
@bblfish I'm closing this issue as it doesn't seem there is an overlap, we can reopen if you think there is something to discuss.

[2019-08-22 13:57] #10 closed, assigned to nobody

[2019-08-22 14:00] liamdennehy commented on #16
@jyasskin @msporny Should this move to https://github.com/w3c-dvcg/http-signatures-audit/issues?

[2019-08-22 14:01] #17 closed, assigned to nobody

[2019-08-22 14:01] liamdennehy commented on #17
Fixed in https://github.com/w3c-dvcg/http-signatures/pull/49

[2019-08-22 14:04] liamdennehy commented on #22
With v11 introducing an explicit [``created``](https://tools.ietf.org/html/draft-cavage-http-signatures-11#section-2.1.4) field we can now tie individual signatures to metadata for that signature itself - independent of the ``Date`` header. I think this can close, but @bblfish if you feel this needs more work feel free to open a new issue.

[2019-08-22 14:04] #22 closed, assigned to nobody

[2019-08-22 14:07] liamdennehy commented on #25
As @msporny has implied, there is a risk this ends up bloating the specification into a negotiation protocol, while there is value in keeping this simple. Implementing a full negotiation process may be too much and hinder adoption, so we'd rely on signature producers communicating this out-of-band for now. If this is a real need, we can propose an extension to this specification at a later time, b

[2019-08-22 14:13] liamdennehy commented on #29
I think at some point we should explicitly forbid the legacy mechanisms - I don't think there's much value in publishing a specification that includes legacy sidesteps that came up during its development, and especially ones acknowledged to be removed for good security reasons.

Appreciate this is a big change, but then v11 is already quite breaking. Definitely needs discussion...

[2019-08-22 14:16] liamdennehy commented on #30
@ejholmes Since this is not an issue for the specification itself, can you watch #1 as @msporny suggests so we can close this issue?

[2019-08-22 14:26] liamdennehy commented on #39
@ioggstream Can you create an issue at https://github.com/w3c-dvcg/http-signatures-audit?

[2019-08-22 14:27] liamdennehy commented on #39
Closing due to inactivity, and hopefully addressing some concerns via new ``created`` header.

[2019-08-22 14:27] #39 closed, assigned to nobody

[2019-08-22 14:29] liamdennehy commented on #43
These points are no longer valid, or can be addressed in a more general quality overhaul/review - especially in conjunction with the reference test suite being developed.

[2019-08-22 14:29] #43 closed, assigned to nobody

[2019-08-22 14:36] liamdennehy commented on #50
I've been debating https://tools.ietf.org/html/rfc7230#section-3.2.2 with quite a few folks, and I have to say it's a terrible section. It starts out spelling out a great principle, but then immediately makes an exception that is very poorly described.

Given the open-endedness of this exception (what is "well known" and who decides?) we should aim for strictly supporting all base features of HTTP

[2019-08-22 14:42] liamdennehy commented on #53
I vote no.

This project aims to publish a specification as an IETF RFC, and ideally should present a single, coherent protocol. That we have had some iterations and even breaking changes over the course of its development is unfortunate, but I think the aim here is to get to that single protocol.

Capturing and forcing compatibility with every legacy step - some of which we acknowledge have negat

[2019-08-22 14:52] liamdennehy commented on #80
I'm not sure how moving these parameters to a new header addresses the problem?

For me a single header capturing a single statement - the signature and how to validate it - has real power. We should always keep brevity in mind, but bearer tokens routinely go into hundreds of bytes, and some interfaces even ask for entire RSA PKI certificates in a header - kilobytes in size.

[2019-08-22 14:53] aljones15 commented on #50
This is actually a section I had problems with in the implementation as express handles duplicate header field names as lists while the HTTP Message parser in the binary simply uses the last header field name's value. I'm not entirely sure if I'm understanding this correctly, but it looks like the wording in the HTTP messages spec implies handling duplicate header field names is non-normative:

He

[2019-08-22 15:09] liamdennehy commented on #58
You're not the first to notice the complexity of this specification, and we definitely need to work on making it more accessible - clear terms, simple explanations, consistency across every section. I think your observations are valid, and worth addressing.

[2019-08-22 15:28] liamdennehy commented on #50
I know [PHP's PSR-7 interface handles both just fine](https://www.php-fig.org/psr/psr-7/#headers-with-multiple-values), and saw a java developer discover the difference lies in something like getheader (string, probably concatenated) vs getheader**s** (a map/vector).

Given the open-endedness of [3.2.2](https://tools.ietf.org/html/rfc7230#section-3.2.2)'s exception and the explicit need to support

[2019-08-22 18:52] ioggstream commented on #25
Ok for a differenti I-D. In case we should plan it soob to be sure of being consistent

[2019-08-22 23:05] ejholmes commented on #30
Done. Thanks!

[2019-08-22 23:05] #30 closed, assigned to nobody

[2019-08-23 08:03] ioggstream commented on #80
@liamdennehy moving this out will reduce the Signature size for long headers and improves security as we're explicitly signing the `headers` using the same mechanism we use for the rest.

[2019-08-23 08:08] liamdennehy commented on #19
@jyasskin
https://github.com/w3c-dvcg/http-signatures/pull/48 goes to some length to clarify what the difference is between ``Signature`` and ``Authorization``, and spell out how using asymmetric keys (and not hmac) any verifier can confirm the origin and integrity of a message. It's not full-blown, some knowledge of the origin identity/key is needed (since ``keyId`` semantics is out-of-scope), bu

[2019-08-23 08:17] ioggstream commented on #50
I'm not sure that's worth the case.

That's an improvement. Better would be to `FORBID` the sender to send multiple headers in signatures to avoid unlawfull reconstruction of non-list headers

[2019-08-23 08:19] ioggstream commented on #19
maybe related https://github.com/w3c-dvcg/http-signatures-audit/issues/1

[2019-08-23 08:36] liamdennehy commented on #80
A 4096-bit RSA key will generate a signature (base64-encoded) of just under 400 bytes, and the various header parameters we've proposed so far add maybe a hundred bytes with lots of headers. EC keys are much shorter.

I think my basic question is: How long is too long? As in an actual number, what is the cutoff, and are we talking individual headers or the entire header set? Note that adding a new

[2019-08-23 08:42] liamdennehy commented on #80
I mentioned elsewhere I want to [overhaul parameters](https://github.com/w3c-dvcg/http-signatures/pull/51#issuecomment-494755069), specifically to allow us to flexibly add/sign things without having to revise the entire specification to address your point here:
https://github.com/w3c-dvcg/http-signatures/pull/51#issuecomment-494472655

This will need a large consensus as it's a big and breaking ch

[2019-08-23 08:58] liamdennehy commented on #50
Then how do we verify signed cookies, the one exception [3.2.2](https://tools.ietf.org/html/rfc7230#section-3.2.2) explicitly permits (in addition to others not explicitly stated)? Again, if a recipient understands it, we should support it. Applications are free to forbid multiple header instances themselves, but that's because *they* don't want multiple headers, not because we judged them unworth

[2019-08-23 09:09] ioggstream commented on #50
Signing cookies means once they are stored for revalidation they can be reused for attacks...

Do you have real-life use-cases for that?

[2019-08-25 13:02] nightpool commented on #29
The current spec has nothing to do with PKI. I don't think attempting to introduce PKI into a proposal that currently avoids that whole sphere of complexity is a good idea

A scheme of what? Required by who, for what purpose? Such a scheme (if building it is useful) can be productively built on top of HTTP Signatures without requiring us to include it in the base spec.

[2019-08-26 08:41] liamdennehy commented on #29
Not my intention, but I am trying to make sure we don't cut off potential use cases. PKI was only illustrative.

https://www.berlin-group.org
Building on: https://en.wikipedia.org/wiki/EIDAS

Indeed they can be built on top of this, but not if we don't communicate the hash algorithm:

The ``algorithm`` field encodes two distinct algorithm parameters: the signature algorithm itself that perform the

[2019-08-26 09:05] ioggstream commented on #29
algorithm could then replace the versionin scheme I proposed here #53

I think that we could define an algorithm table  with:

* a list of allowed virtual headers (having the specs state that "if the algorithm is FOO and the virtual header is BAR then fail...") is bloated and open to misinterpretation
* the hash algorithm to use
* a de/serialization process

This would simplify the use of sha256 t

[2019-08-26 11:11] liamdennehy commented on #50
We're getting lost in specifics, but maybe:

- I authenticate using a signature, and get some cookies
- Time passes
- I use these cookies to demonstrate I'm authenticated
- I try to perform a privileged action, requiring a higher Level of Authentication
- I resend my request including a signature of the cookies, showing my private key and the cookies are both under my control. I don't want a new t

[2019-08-26 13:53] aljones15 commented on #50
my concern with this is the following:

[code]
Let's say the server's HTTP message parser passes the following to your HTTP signature middleware:

[code]

this means that depending on how the parser treats duplicate headers we can end up with different canonicalized strings and hence content verification will fail in this case.

[2019-08-27 08:55] liamdennehy commented on #50
From the [spec](https://tools.ietf.org/html/draft-cavage-http-signatures-11#section-1):

If the recipient of the message cannot understand duplicate headers placed in the message intentionally - for signing or just parsing the message - they cannot understand the intended meaning expressed by the sender. Verification will have failed *by design*.

This is a great instance where adding a signature

[2019-08-31 13:02] liamdennehy opened #88 "Project stance on backwards compatibility"
In the list of proposed principles for this project https://github.com/w3c-dvcg/http-signatures/pull/87 I excluded preserving backwards compatibility, as it is also in conflict with the maxim of "Keep It Simple, Stupid" (also encoded as a principle).

This has wide-reaching impact. We are both fortunate there are already implementations out there as this drives interest and help tease out bugs and

[2019-08-31 13:30] liamdennehy opened #89 "Project stance on multiple header instances"
https://github.com/w3c-dvcg/http-signatures/issues/85 and https://github.com/w3c-dvcg/http-signatures/issues/50 both depend on answering a single question: Do we interpret [RFC7230 Section 3.2.2](https://tools.ietf.org/html/rfc7230#section-3.2.2) as

- being *permissive* of multiple instances of a single header name, both since an exception is made for a named header (Set-Cookie) and the door is l

[2019-08-31 13:35] liamdennehy commented on #89
To open with my position, I have proposed the [principle](https://github.com/liamdennehy/http-signatures/blob/contributing/CONTRIBUTING.md#simple-and-compatible):

This protocol has the most utility if it simply allows security to be added to a message, without carving out exceptions based on our own concerns. Principally the choice to accept multiple header instances should be made by the applica

[2019-08-31 14:06] liamdennehy commented on #77
I would prefer every signature parameter should have the option of inclusion in the Signing String. If we formulate my proposed overhaul of the header parameter, then we can stop making exceptions and new rules:

``(*)``: signature parameter e.g. ``(created)``, ``(keyId)``
``:*``: http pseudo-header e.g, :path, :method
``*``: HTTP header

I could then end up with:
[code]
... without having to make

[2019-08-31 14:08] liamdennehy commented on #53
While ``(v)`` would clearly show which version a signature was generated under - and should be verified against - this would start by creating a compatibility break point, and add complexity to the scheme's final version not least of which is coming up with version semantics.
https://github.com/w3c-dvcg/http-signatures/issues/88

[2019-08-31 14:20] liamdennehy opened #90 "Project stance on signature & parameter negotiation"
https://github.com/w3c-dvcg/http-signatures/issues/3 https://github.com/w3c-dvcg/http-signatures/issues/4 https://github.com/w3c-dvcg/http-signatures/issues/6 https://github.com/w3c-dvcg/http-signatures/issues/25 all stem from a similar source: Should this protocol permit negotiation of parameters between client and server prior to transmission, and should we formally specify a way for a recipient

[2019-08-31 14:48] liamdennehy opened #91 "Project stance on signatures incorporating external data"
In the project's proposed principle "[What You See is What You Sign](https://github.com/liamdennehy/http-signatures/blob/contributing/CONTRIBUTING.md#what-you-see-is-what-you-sign)":

In order to reconstruct the Signing String, a verifier needs access to all the data that process depends on. Some of this information may be contextual:
- The `:method` and `:path` components of `(request-target)` ar

[2019-09-04 09:05] bblfish commented on #13
It is difficult to say with so much time having gone by. I'd need to reimplement with the latest spec to refresh my memory. I trust you did a good job :-)

[2019-09-04 09:08] bblfish commented on #12
Not sure how to address this, just thought I'd point it out.

[2019-09-04 09:12] bblfish opened #92 "HTTP Signatures for Solid"
I have just written out a small very initial proposal for how one could develop HTTP-Signatures so that the `keyId` is dereferenceable, opening a path for HTTP-Signatures to be used in a wider context.

https://github.com/bblfish/authentication-panel/blob/master/HttpSignature.md

I thought that this could be of interest to the community of HTTP-Signature specialists, and would appreciate any feedb

[2019-09-04 09:16] liamdennehy commented on #12
I think this specification plugs into that proposal as an authentication means, so could have utility. Considering it's not a (proposed) standard I don't think we can mention it directly.

I did however have a curious conversation where someone claimed this protocol is more secure than Mutual TLS in the instance where intermediaries are involved. Once I pointed out this protocol has little in the

[2019-09-04 09:16] #12 closed, assigned to nobody

[2019-09-04 09:18] liamdennehy commented on #92
Any chance you can refer to this as "Signing HTTP Messages", the formal title of the specification?

[2019-09-04 09:18] bblfish commented on #12
Ah! I had forgotten the nonce part of the proposal... Good point.

[2019-09-04 09:25] bblfish commented on #92
I added the full title for the link to the spec, and then I added a shorthand `Http-Sig` as the full spec title is a bit long.

[2019-09-04 15:28] dlongley commented on #92
@bblfish -- We'll have to figure out how to get convergence here with Linked Data Proofs (specifically parts of Linked Data Signatures and Keys) as what you've written up follows what is already being done with HTTP signatures in a variety of systems.

In short, some systems are using a URL with a hash for the `keyId` where that URL identifies an LD key that, when dereferenced, includes public key

[2019-09-09 11:12] bblfish commented on #92
We'll discuss this first proposal today on the [Solid Authentication panel teleconf](https://github.com/solid/authentication-panel). That will give me an idea what the community makes of it and how much energy can be put into it going forward.

If one goes with Martin Abadi's work starting from 1991 on the logic of `saying that`, which allows one to reason both about signatures as a form of saying

[2019-09-16 18:04] bblfish commented on #92
There were a couple of discussions on the Solid group of the initial proposal, with meeting notes [listed here](https://github.com/solid/authentication-panel/issues/18#issuecomment-530420480).
The first was with a longer but with only 3 members present, the second was shorter but with a number of people of which the CTO of Inrupt.
Perhaps it would be worth chatting to a some people here about thos

[2019-10-11 14:35] #63 closed, assigned to nobody

[2019-10-24 21:17] azdagron commented on #1
https://github.com/spacemonkeygo/httpsig has been around since Feb 2017. I'll run it a against the test suite though when I get a chance.

There is an open PR to add ECDSA signature support for v12.

[2019-10-29 08:42] liamdennehy commented on #89
Two months seems a good time to close this.

[2019-10-29 08:42] #89 closed, assigned to nobody

[2019-10-29 08:43] liamdennehy commented on #90
Two months seems a good time to close this, hopefully the related issues can now also be closed as this principle has not been challenged.

[2019-10-29 08:43] #90 closed, assigned to nobody

[2019-10-29 08:51] liamdennehy commented on #91
As stated in [README.md](https://github.com/w3c-dvcg/http-signatures/pull/87/files#r334000121) all verification information must be provided in-band, and not rely on context or external sources. Closing as accepted after two months.

[2019-10-29 08:51] #91 closed, assigned to nobody

[2019-10-29 15:31] ioggstream commented on #91
@liamdennehy question: certificate chains/transparency logs/ocsp are considered out-of-band informations?

[2019-10-30 09:46] liamdennehy commented on #91
Indeed, the spec simply refers to keys, as does the principle above. It's also agnostic to certificates themselves, as this is just metadata about a key.

How a particular key is trusted to sign a message (e.g. certificate chains from a CA/B Forum root, membership in an private trust scheme), and why (e.g.  [specified in law](https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:52019XC08

[2019-11-01 13:59] msporny opened #93 ":path pseudo header encoding"
Sebastien Rosset wrote:

For example, instead of the following example
[code]

You could use something like this:

[code]

[2019-11-01 14:01] msporny commented on #93
Yes, I believe that interpretation is correct... and the spec should clarify that without duplicating the text in RFC 3986.

[2019-11-04 11:06] liamdennehy commented on #93
Unsure why you've escaped the colon, since this is a [valid ``pchar`` for a query](https://tools.ietf.org/html/rfc3986#appendix-A):
[code]

Illustrating escaped query & path characters is useful, so I propose showing the transform of (in yaml):
[code]
into
[code]

[2019-11-04 11:09] liamdennehy commented on #93
New content and updated reference test sample message in https://github.com/w3c-dvcg/http-signatures/pull/83/commits/390aee411bce8236ff321ec690e6b523900abcc3:

- Clarify escaping requirement in section `canonicalization` for both :path and :query, refer to RFC3986 for reasoning (and add as new normative ref)
- Include escaped path and query in examples with illustrations of transformation
- Does n

[2019-11-13 15:02] msporny opened #94 "Algorithm signature parameter is too complex"
Gisle wrote:

I have a few comments to the latest version of draft-cavage-http-signatures-12.

1.  The created signature parameter is a really good additions as this simplifies the time validation of the request when you do not need to relate to the Date header anymore.

2. The road you have gone down with the algorithm signature parameter is to me unfortunate. It seems to unnecessarily complicate

[2019-11-13 15:57] ioggstream commented on #53
That's fine as long as the backward-compatibility won't hinder the adoption of this I-D: it would be reasonable to ask for a quick review from the http-wg.

Note that this consideration is non necessarily related to `(v)` as the version could be passed in many ways.

[2019-11-22 08:28] bdenton opened #95 "Delimit Signature Header Parameters With Semi-colon"
The current RFCs are showing the parameters of a "header-field" to be separated by a semi-colon rather than a comma. This is most obvious looking at the structure of the "Accepts" header-field.

The need for this change is most obvious in the context of the Authorization header.. It is not uncommon to encounter use cases where multiple Authorization headers get created for a single message. As the

[2019-11-22 11:21] bblfish opened #96 "HTTP-Signatures discussed at IETF106"
Hi,
   by chance I noticed [an e-mail on the IETF-HTTP-WG mailing list](https://lists.w3.org/Archives/Public/ietf-http-wg/2019OctDec/0132.html) by Rob Sayre of a talk by Justin Richer [on HTTP-Sig at the in the SECDISPATCH IETF meeting](https://youtu.be/CYBhLQ0-fwE?t=3001). Furthermore he seemed to be  expressing interest in it being taken up by the HTTP WG.
Henry

[2019-11-22 12:47] ioggstream commented on #96
The discussion is quite interesting, as another I-D could offspring from that.

[2019-12-08 03:30] sebastien-rosset commented on #29
The paragraph in revision 12 has a list of recommendations. The list has multiple commas with "nested" commas, which makes it non-obvious to parse the sentence. I suggest to format the paragraph differently, that would help to clarify the recommendations.

The current paragraph states:
Recommend support for RFC 8017 [RFC8017], Section 8.1: RSASSA-PSS, RFC 6234 [RFC6234], Section 7.1: SHA-Based HMA

[2019-12-09 18:46] JCapriotti opened #97 "Stance on using Query String instead of Header"
I'm curious about the stance of using the query string to provide the `Signature` or `Authorization` value, as opposed to the header? I know there are definitely some things to consider with that approach, such as URL limits, possibly changing what values are required for the signing string, etc. In fact, in this scenario one probably will not include any headers in the signature string.

One use

[2019-12-12 09:24] ioggstream commented on #97
Sensitive information like Authorization should not be passed in query string.

Allowing insecure implementations is problematic: JWT needed a [whole new draft](https://tools.ietf.org/html/draft-ietf-oauth-jwt-bcp-07) to address security issues.
My understanding is that we should focus on making this spec more secure.

 [Fetch specs support headers](https://developer.mozilla.org/en-US/docs/Web/API

[2019-12-12 09:27] ioggstream opened #98 "Discussion: relations with alt-svc"
## Questions

Which are the relations between `Signature` and [alt-svc](https://tools.ietf.org/html/rfc7838)?

Should we give advice on [alt-svc security issues](https://tools.ietf.org/html/rfc7838#section-9.2)
when using `Signature` ?

[2020-01-05 21:07] sebastien-rosset opened #99 "HTTP signature scheme in the IANA Authentication Scheme Registry"
Shouldn't "Signature" (or equivalent string) be added as a valid authentication scheme to the IANA Authentication Scheme Registry, which is located at https://www.iana.org/assignments/http-authschemes/http-authschemes.xhtml?

Version 12 of the HTTP-signature draft references RFC 7235 section 4.1, but I don't see any reference to RFC 7235 section 5.1. https://tools.ietf.org/html/rfc7235#section-5.1

[2020-01-05 21:21] sebastien-rosset opened #100 "Reformat list of recommendations in section E.2"
Section E.2 in revision 12 has a list of recommendations. The list has multiple commas with "nested" commas, which makes it non-obvious to parse the sentence. I suggest to format the paragraph differently, that would help to clarify the recommendations. I understand there is an editor note that states the list is problematic, which suggests this will be changed.

The current paragraph states:
Hash

[2020-01-15 14:45] sebastien-rosset opened #101 "Small typo in section 2.1.5"
The following sentence is at the end of section 2.1.5:

It should be:
Subsecond precision is allowed using decimal notation.

[2020-01-15 15:30] sebastien-rosset opened #102 "Typo in sections 3.1.2, 3.1.3, 4.1.1 and 4.1.2, RSA and HMAC examples"
Section 4.1.1 has the following example:

[code]

It looks like "\n" is missing, or is this intentional?

[code]

[2020-01-15 15:37] sebastien-rosset opened #103 "Inconsistent use of space character in section C Test Values"
I know in section C there is a preamble that states: THESE TEST VECTORS ARE OLD AND POSSIBLY WRONG.

Nevertheless, there is some inconsistent use of space characters in the examples.
Specifically in section C.3, the following example is provided. Notice there is no space before
"algorithm", but there is a space before "expires".

[code]

The ABNF notation for the "Authorization" field in rfc 7235

[2020-01-15 15:46] sebastien-rosset opened #104 "Wrong reference in section 3.1. "Authorization Header""
Section 3.1 has the following paragraph:

[code]

It's a bit confusing because section 3.1 includes the "Authorization" header but it has a reference to the "WWW-Authenticate" section of RFC 7235. Then section 3.1.1 has an example with the "WWW-Authenticate" header, then section 3.1.2 uses the "Authorization" header.

I think you meant "RFC 7235 [RFC7235], Section 4.2" (??)

[2020-01-15 16:24] aljones15 commented on #104
I believe you are correct.

Authorization is section 4.2: https://tools.ietf.org/html/rfc7235#section-4.2

[2020-01-21 08:17] bblfish commented on #96
You can send comments to the IETF-HTTP mailing list in support of the first proposal. See
https://lists.w3.org/Archives/Public/ietf-http-wg/2020JanMar/0002.html

[2020-02-28 07:40] rinne opened #105 "Inconsistent use of \n in examples"
In some of the data-to-be-signed examples, newline is included as \n and the use of \n is explained in the text.  However \n is not used consistently in all examples. In case of special headers like (created), in the examples \n is missing even it's on the other lines of that very example.

[code]

[2020-02-28 07:43] rinne opened #106 "Proposal to add (response-code) special header"
Hi

I propose to add a special header that can be used in including HTTP response code to the signature, in case the signature is generated to HTTP response instead of HTTP request as described in chapter 1.2 in the draft-12.

I propose the following backwards compatible amendments.

[code]

[2020-03-01 16:33] DavidLievrouw commented on #1
Maybe a bit late, but:

https://github.com/DavidLievrouw/HttpMessageSigning

[2020-03-01 17:06] msporny commented on #1
@azdagron wrote:

Added to the list above. Thank you, @azdagron!

@DavidLievrouw wrote:

Not late at all, the party is still going. The spec is getting picked up by the IETF HTTP WG, so expect global standardization to happen in the next year or two. Thanks @DavidLievrouw!

[2020-04-14 02:19] sebastien-rosset opened #107 "ECDSA signature encoding, binary IEEE P.1363 or ASN.1"
Maybe I am missing something, but shouldn't https://datatracker.ietf.org/doc/draft-ietf-httpbis-message-signatures/ specify the encoding of ECDSA signatures? There are multiple methods to encode ECDSA signatures: raw binary encoding (IEEE P.1363 standard); ASN.1 SEQUENCE with two INTEGERs (r and s) encoded with DER; Encoding specified in RFC 3279 section 2.2.3 ECDSA Signature Algorithm; RFC 5480.

[2020-04-14 16:55] Diggsey opened #108 "`algorithm` parameter does not make sense"
Previously, the `algorithm` parameter contained an actual signature algorithm identifier. This was removed because the verifier might incorrectly use this when verifying the signature, which would leave it vulnerable, instead of determining it from the stored key. Now, the only allowed value for `algorithm` is `hs2019`.

Firstly, I think this is an odd stance to take: there are lots of ways to inc

[2020-04-15 17:49] Diggsey opened #109 "Test RSA key is only 1024 bit, not 2048 bit as it says"
However the RSA key specified is only 1024 bits long. This is a problem because several crypto libraries have started dropping support for 1024-bit RSA keys.

[2020-04-15 19:40] Diggsey opened #110 "Inconsistencies relating to "(created)" pseudo-header"
These excerpts don't make sense together:

  created=1402170695, expires=1402170699,
  headers="(request-target) (created) (expires)
    host date content-type digest content-length",
  signature="vSdrb+dS3EceC9bcwHSo4MlyKS59iFIrhgYkz8+oVLEEzmYZZvRs
    8rgOp+63LEM3v+MFHB32NfpB2bEKBIvB1q52LaEUHFv120V01IL+TAD48XaERZF
    ukWgHoBTLMhYS2Gb51gWxpeIq8knRmPnYePbF5MOkR0Zkly4zKH7s1dE="

First, the `algori

[2020-04-15 19:52] aljones15 commented on #109
Is this WRT to the http-signatures spec or the test suite?

The test suite is here if so: https://github.com/w3c-ccg/http-signatures-test-suite

[2020-04-15 20:01] Diggsey commented on #109
This is WRT to the RSA key in the spec itself.

[2020-04-15 20:48] ioggstream commented on #108
We just started working on this spec with the http working group. The draft will be uploaded soon on

- https://github.com/httpwg/http-extensions

And here I shared a commentable gdoc to kick off some discussion with the editors:

- https://docs.google.com/document/d/1QgSDeWgU-cdFpKI6FiPvGhq6zgdhVE1ZVRcAQZ6AzPE/edit

I think this issue and many others are related to the goal of http-signature to b

[2020-04-15 20:50] ioggstream commented on #97
@msporny can we close this issue?

[2020-04-15 21:16] JCapriotti commented on #97
Sorry I intended to provide more information, but time got away from me.

The scenario we have is using the NativeScript mobile application framework. NativeScript isn't super popular, but it basically just compiles down to native iOS and Android code. We're eventually moving to pure native.

Anyway, we have a login web page that is launched from the app. It will load using the device's native bro

[2020-04-17 20:51] jricher commented on #96
There is now an official draft within the HTTP working group for HTTP Message Signatures. That draft is at:

https://tools.ietf.org/html/draft-ietf-httpbis-message-signatures-00

Work on that draft will continue in the HTTP working group using the HTTP working group's tools and repositories. The editors of that draft are currently working on importing the spec text to the HTTP WG repository.

[2020-04-26 22:06] kislyuk opened #111 "Status of the Authorization header"
All mentions of using the `Authorization` header to carry the signature were removed from https://tools.ietf.org/html/draft-ietf-httpbis-message-signatures (comparing to https://tools.ietf.org/html/draft-cavage-http-signatures-12 which I originally wrote my implementation to).

I'm totally on board with that but want to clarify. The draft states that it maintains "normative compatibility" with Cav

[2020-05-01 17:19] ivilata commented on #106
This may be a duplicate of #51.

[2020-05-01 17:37] ivilata commented on #1
Maybe a little late too, but <https://github.com/equalitie/ouinet> partially implements HTTP Signatures (-12) in C++ to sign, cache, and later on share and verify *responses*. Also we added a `(response-status)` pseudo header and we use our own header to store the full URL of the request associated with the signed response (see [this](https://github.com/equalitie/ouinet/blob/master/doc/arch-drafts

[2020-05-01 17:53] ivilata commented on #27
@liamdennehy said:

In <https://github.com/equalitie/ouinet> we use HTTP Signatures to safely exchange cached GET responses between untrusting peers (see [this](https://github.com/equalitie/ouinet/blob/master/doc/arch-drafts/http-roll-sigs-1.md) for the gory details). We added a `(response-status)` pseudo-header (with the status code number) and our own `X-Ouinet-URI` header (with the full URL in

[2020-06-15 06:17] michalc commented on #1
A Python implementation from me https://github.com/michalc/python-http-signature-client

[2020-06-22 07:47] michalc commented on #1
And now a server-side Python implementation from me https://github.com/michalc/python-http-signature-server

[2020-08-06 00:55] nhomble commented on #108
I've been reading other issues and I'd be interested to know if removing algorithm is what we really want after reading https://github.com/w3c-ccg/http-signatures/issues/54

[2020-08-07 15:55] ioggstream opened #112 "Archiving this repository?"
Hi @msporny  WDYT to reference the new https://github.com/httpwg/http-extensions/blob/master/draft-ietf-httpbis-message-signatures.md for everything that is related to it?

[2020-08-07 17:30] davidlehn commented on #112
Regarding the title of this issue, if you are referring to the GitHub "archiving" feature, I don't think that should be used here anytime soon.  If/when the IETF spec can replace what's here, then a deprecation notice could be added.  There are users of this spec and it may need updates from time to time even if a newer shiny spec becomes preferred.

[2020-08-07 18:55] liamdennehy commented on #112
This spec is [no longer active and formally replaced](https://datatracker.ietf.org/doc/draft-cavage-http-signatures/) by  [draft-ietf-httpbis-message-signatures](https://datatracker.ietf.org/doc/draft-ietf-httpbis-message-signatures):

![Screenshot from 2020-08-07 20-51-49](https://user-images.githubusercontent.com/4996358/89678941-5ea76200-d8f0-11ea-9d21-450b3d959746.png)

The latest version of [

[2020-08-07 19:12] msporny commented on #112
Be careful about putting stuff like this into an issue tracker. The specification isn't dead... it lives on as draft-ietf-httpbis-message-signatures. :)

The only question is how we signal that everyone should move their engagement over there.

-1 on closing all issues as some of them still apply to the work happening at HTTP WG now.

[2020-08-08 14:09] liamdennehy commented on #112
Moved to less harsh language, apologies

[2020-08-08 14:12] liamdennehy commented on #112
At present the only way to discover that is to visit the tracker as I quoted above. Is there any plan to formally publish v13, and formally announce deprecation as currently stated in index.xml? My own clients using this are still blissfully unaware their implmentations are now defunct (auth scheme is gone in new spec) as it is not clearly stated anywhere else.

[2020-08-08 18:04] ioggstream commented on #112
Archiving this gh-repo without closing the issues imho is the right thing to do. This is what I did when `digest-headers` was moved inside ietf https://github.com/ioggstream/draft-polli-resource-digests-http

I think in September I will start to work regularly on `message-signatures`, and having all the work there is an opportunity for everybody to achieve an RFC status and get feedbacks from folk

[2020-10-23 08:52] kinosang opened #113 "A.3.2.1. Minimal Required Signature Header seems wrong"
[code]

`(created): 1402170695` might be `created=1402170695`

also A.3.2.2.  Minimal Recommended Signature Header has the same mistake.

[2020-10-23 08:56] kinosang opened #114 "Example RSA Key in the draft is not FIPS compliant"
Key provided on https://tools.ietf.org/html/draft-richanna-http-message-signatures-00#appendix-A is not FIPS compliant.

It cannot be used in .Net Core (dotnet/runtime#43728).

[2021-01-31 01:23] backupbrain commented on #1
A Python/Django implementation: https://github.com/backupbrain/drf-keypair-permissions/

NodeJS (crypto) and browser (crypto.subtle) implementations: https://github.com/backupbrain/client-http-keypair-authorization-headers/

[2022-01-17 14:23] bblfish commented on #92
In the mean time, Signing Http Messagesmoved to the IETF.
I have now implemented version 07 of the spec there.
The implementation is available in the [httpSig](https://github.com/bblfish/httpSig) repo.
Currently it works with JVM based [Akka](https://akka.io).
I going to try to get it to work for [http4s](https://http4s.org) next so I can use it in the the browser with JS - and it could also be ma

[2022-02-08 12:05] bblfish commented on #92
Btw I now have released first SNAPSHOT packages for Java and JavaScript (in the browser, NodeJS can be done later) of "Signing HTTP Messages 07" which I want to later use for HttpSig authentication. The code is at the [httpSig repo](https://github.com/bblfish/httpSig).
https://oss.sonatype.org/content/repositories/snapshots/net/bblfish/crypto/

[2022-04-14 04:23] techoo8 opened #116 "IPv6 over Networks of Resource-constrained Nodes (6lo)"

[2022-07-23 16:47] goffi-contrib commented on #26
Hello, while working on an XMPP <=> ActivityPub gateway, I've been affected by this issue (for the context, Pleroma doesn't unquote and Mastodon does, resulting in one or the other being rejected).

What is the consensus on this point nowadays, to use the raw path without unquoting? Is there any plan to update the HTTP Signature spec?

Thanks!

[2022-07-28 23:46] tpa10 commented on #40
Actually, both of the above URLs
   (https://w3c-dvcg.github.io/http-signatures/#sa-registry and  https://w3c-dvcg.github.io/http-signatures/#hsa-registry)
get 404s when you try to follow them. :(

[2022-07-29 14:30] aljones15 commented on #40
this one works: https://w3c-ccg.github.io/http-signatures/#hsa-registry

https://w3c-ccg.github.io/http-signatures/#sa-registry

Looks like their was a typo in my comment that I'm correcting now.

p.s. I believe this version of the spec is old and the current version is the HTTP working group one: https://httpwg.org/http-extensions/draft-ietf-httpbis-message-signatures.html

I might be wrong about

[2022-07-29 15:01] msporny commented on #40
You're correct... the HTTML WG has taken over the spec and all work is happening there, now.

Perhaps we should archive this repo or redirect people over there... We were managing implementations here, but perhaps we should manage implementations in the HTTP WG from now on.